@import "custom-variables";
@import "custom-mixins";
@import "social-media-icons";
@import "custom-base";
@import "custom-animations";
@import "custom-tabs";
@import "nav";
@import "navbar";

/* Custom HEADER & FOOTER -------------------------------- */

header {
  height: 550px;
  background: linear-gradient($color-bg-light, $color-bg),
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 0 0, 0 45%;
  h1 {
    color: $white;
    font-size: 4.8em;
    letter-spacing: 1px;
    margin:auto;
    vertical-align:middle;
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
    #space {
        padding: 50px 0 0 0;
    }
  @include skewed {
    height: 85px;
    background-color: $white;
    bottom: -50px;
  }
}

footer {
  padding: 2em 0 0;
  height: 165px;
  background-color: $color-shade;
  margin-top: 3.5em;
  @include skewed {
    height: 75px;
    background-color: $color-shade;
    top: -40px;
  }
  .contact-icons {
    height: 50px;
    padding: 0 30px;
    @include social-icons;
    .row {
      justify-content: center;
      flex-wrap: nowrap !important;
    }
  }
  #myID {
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  .hide {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: scale(0.5, 0.5);
    transition: visibility 0.1s, opacity 0.5s ease-in, transform 0.5s ease;
  }
  .show {
    visibility: visible !important;
    opacity: 1 !important;
    transform: scale(1, 1);
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 1.25s ease;
  }
  
  .footer-text {
      margin: 20px 0;
      a {
        @include custom-link-style;
      }
  }
  .dropdown-divider {
    border-top: 1px solid $gray-100;
    padding: 0;
}
}

/* Custom CONTAINERS ------------------------------------- */

.inner {
  padding: 0.5em 1em;
}

.intro {
  margin: 60px 0 0 0;
  padding: 3em;
}


/* Custom COMPONENTS ------------------------------------------*/

// Nav-bar variables:
  .nav-link-1 {
    color: $color-primary;
    text-decoration: none;
    &:hover {
      color: $color-accent;
    }
  }
  .nav-link-2 {
    color: $color-accent;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }

// Nav-bar
.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 400;
  text-transform: uppercase;
    .dropdown-item {
      color: $color-primary !important;
      &:hover {
                color: $color-secondary !important;
                cursor: pointer;
              }
    }
  .navbar-brand {
    float: left;
    position: absolute;
    left: 10px;
  }
  #img-featured-navbar-sm {
      width: 64px;
      height: 64px;
      padding: 0.5em;
      margin-top: 0px;
      visibility: hidden;
      opacity: 0;
      transform: scale(1, 1);
      transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
  }
  .navbar-toggler {
      color: transparent !important;
      border-color: transparent !important;
  }
  .navbar-toggler-icon {
      background-image: none !important;
  }

// Menu Icon
// Animated Hamburger Icon //
#nav-animated-hamburguer-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  @include rotate(0);
  @include transition(.5s ease-in-out);
  cursor: pointer;
  float: right;
  right: 25px;
  top: 16px;
//  &:hover {
//      color: $color-accent;
//  }
  
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include rotate(0);
    @include transition(.5s ease-in-out);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 13px;
    }
    &:nth-child(4) {
      top: 26px;
    }
  }
  &.open span {
    &:nth-child(2) {
      @include rotate(45);
    }
    &:nth-child(3) {
      @include rotate(-45);
    }
    &:nth-child(1),
    &:nth-child(4) {
      top: 13px;
      width: 0%;
      left: 50%;
    }
  }
} // /.#nav-animated-hamburguer-icon

  .navbar-centered {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -15px;
  }
  
} // /.navbar

// Typewriter Effect
#typewriter-div {
    width: 100%;
    height: 325px;
}

.var-highlight{
    color: $color-primary;
    font-weight: 500;
}
.string-highlight{
    color: #559CD6;
    //rgba(253, 149, 90, 0.8);
}

#typewriter{
        width: 100%;
        font-size: 1.5em;
        color: $color-shade;
        font-family: "Courier New";
        &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }
        margin:auto;
        text-align: left;
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

// Header image
.img-featured {
    width: 165px;
    border-radius: 50%;
    margin-top: 0px;
    position: relative;
    z-index: 100;
    transform: scale(1, 1);
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
}

.card-grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.card-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.card-grid-item {
  border: 1px solid #fff;
  width: 100%;
  height: 300px;
  flex: 1;
  padding: 1.5em 1em;
  border: 1px solid $color-shade;
  border-radius: 0.25em;
  h1 {
  margin: 0.35em 0 0;
  line-height: 1.25;
  }
  .icon,
  h1 {
  color: $color-primary;
  }
  .icon {
      font-size: 80px;
  }
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  flex: 1;
  background-color: $color-secondary;
  border: 1px solid $color-shade;
  img {
    width: inherit;
    height: inherit;
  }
}

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%btn {
  color: $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  &:hover {
    color: $white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  &-callout {
    @extend %btn;
    font-size: 1.1em;
    background-color: $color-secondary;
  }
  &-info {
    @extend %btn;
    font-size: 0.85em;
    background-color: $color-primary;
    margin-top: auto;
  }
}


/* Custom MEDIA QUERIES ---------------------------------- */

// Remember: min = larger than; max = smaller than.

@media (max-width: 992px) { // smaller than 992px
  .navbar {
    background-color: rgba(10, 21, 37, 0.95) !important;
    #img-featured-navbar-sm {
      visibility: visible !important;
      opacity: 1 !important;
      transform: scale(1, 1) !important;
      transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease !important;
    }
  }
  .img-featured {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: scale(0.5, 0.5) !important;
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease !important;
  }
  .menu-links-mobile {
    margin-top: 40px !important;
    background-color: rgba(75, 146, 219, 0.95); //whitesmoke !important;
    border: 1px solid rgba(10, 21, 37, 0.75);
    border-radius: 0.25rem;
      .nav-link-1,
      .nav-link-2 {
        color: $color-primary;
        &:hover {
          color: $color-accent;
        }
      }
    .dropdown-menu {
      font-size: .80rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}

@media (min-width: 768px) { // larger than 768px
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 767px) and (min-width: 576px) { //smaller than 767px AND larger than 576px
  #typewriter{
    font-size: 1.25em;
  }
}

@media (min-width: 576px) { //larger than 576px
  .card-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contact-icons {
    padding: 0 30px !important;
  }
}

@media (max-width: 575px) and (min-width: 476px) { //smaller than 575px AND larger than 476px
  header {
    h1 {
      font-size: 3.4em;
    }
  }
  .img-featured {
    display: none;
  }
  #typewriter{
    font-size: 1em;
  }
  .contact-icons {
    padding: 0 20px !important;
  }
}

@media (max-width: 475px) { //smaller than 475px
  header {
    height: 450px;
    h1 {
      font-size: 3em;
    }
  }
  #typewriter{
    font-size: .95em;
  }
  .contact-icons {
    padding: 0 20px !important;
  }
}

@media (max-width: 453px) { //smaller than 453px
  header {
    height: 400px;
    h1 {
      font-size: 2.75em;
    }
  }
  #typewriter{
    font-size: .75em;
  }
}

@media (max-width: 373px) { //smaller than 373px
  header {
    height: 350px;
    h1 {
      font-size: 2em;
    }
  }
  #typewriter{
    font-size: .55em;
  }
}