/*!
 * Name: 	Resume - Portfolio
 * Version: 1.0
 * Updated: 8/14/2015
 * Website:	https://github.com/LandoB/landob.github.io
 * Author:	Lando B | Web Solutions
 * Type:	Style - General
 */

/*-----------------------
	Add-on's
------------------------*/
.uppercase{text-transform:uppercase;}
.margin-md {margin:30px 0px;}
.margin-lg {margin:110px 0px;}
.padding-sm {padding:15px 0px;}
.padding-md {padding:50px 0px;}
.padding-lg {padding:100px 0px;}


/*-----------------------
	General
------------------------*/
body {
	font-family: 'Oswald', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a, img, span, h3, p, i, li, .card-expand, .social-box-container, .btn{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

p {

}
a {
	color:#FFF;
}
a:hover {
	color:#FFF;
}

/*-----------------------
	Website Loader
------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url('img/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}
#loader {
	min-height: 573px;
	position: relative;
	display: none;
}
#loader .loader-icon {
	background: url('img/loader.gif') no-repeat center center;
	background-color: #FFF;
	margin: -22px -22px;
	top: 50%;
	left: 50%;
	z-index: 10000;
	position: fixed;
	width: 44px;
	height: 44px;
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	border-radius: 5px;
}

/*-----------------------
	Logo
------------------------*/
/*Mobile*/
.navbar-brand.logo img {
	max-width:75px!important;
}
/*Full View*/
#main-navigation .navbar-nav li.logo a{
	opacity: 1;
	border:0!important;
	padding:0;
}
#main-navigation .navbar-nav li.logo img {
	width:50px;
	padding:15px;

}
#main-navigation .navbar-nav li.logo a {
	margin:0;
}

/*-----------------------
	Navigation
------------------------*/
#main-navigation {

}
.navbar{
	margin: 0;
	border-radius: 0;
}
.navbar-nav {
	float: none;
	text-align: center;
}
#main-navigation .navbar-nav li {
	display: inline-block;
	float: none;
}
#main-navigation .navbar-nav li a{
	margin: 5px 10px;
	opacity:0.7;
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:3px;
	border:2px solid transparent;
}
#main-navigation .navbar-nav li a:hover, #main-navigation .navbar-nav li a:focus{
	background:transparent;
	opacity: 1;
	border:2px solid #FFF;
	color:#FFF;
}
.stuck .navbar-nav li a:hover, .stuck .navbar-nav li a:focus{
	background:transparent;
	opacity: 1;
	border:2px solid transparent;
	border-color:transparent!important;
	color:#FFF;
}

/*-----------------------
	Navigation stuck
------------------------*/
.stuck {
	background: rgba(0, 0, 0, 0.5)
}
.stuck .navbar-nav li.logo img {
	width:0px!important;
	padding:0px!important;
	visibility:hidden;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.stuck .nav.navbar-nav li a {
	font-size:13px!important;
}

/*-----------------------
	Mobile Navigation
------------------------*/
.navbar-toggle .icon-bar {
	background:#FFF;
}
.navbar-collapse {
	box-shadow: inset 0 0px 0 rgba(255,255,255,.1)!important;
}
@media (max-width: 767px) {
	#main-navigation .navbar-nav li.logo {
		display:none;
	}
	#main-navigation .navbar-nav li {
		display: inline-block;
  }
}
@media (max-width: 991px) {
	.navbar {
		padding:10px;
	}
	.navbar-brand{
		padding: 5px 10px;
	}
	.navbar-brand img{
		width: 40px;
	}
}

/*-----------------------
	Landing
------------------------*/
section#home {
	position: relative;
	height: 900px;
	min-height: 500px;
	width: 100%;
	background: url(img/bg-landing-blur.jpg) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}
#home img.logo {
	top: 80px;
	position: relative;
}
@media (max-width: 767px), screen and (max-height: 600px) {
	#home img.logo {
		display:none;
	}
}
.landing-bg {
	opacity:0;
	background: url(img/bg-landing-blur.jpg) no-repeat top center;
	background-size: cover!important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.landing-message {
	display: block;
	vertical-align: middle;
	z-index: 1;
	position: relative;
	color:#FFF;
	top: 20%;
	width:100%;
	margin: 0!important;
}
.landing-message h1 {
	font-size: 60px;
}
.landing-message h1 span{
	font-weight:100;
}
.landing-message h3 {
	font-size: 30px;
	font-weight:100;
}
.landing-message h3 span{
	font-weight:500;
}
@media (max-width: 1199px), screen and (max-height: 857px) {
	.landing-message h1 {
		font-size:50px;
	}
	.landing-message h3 {
		font-size:25px;
	}
}
@media (max-width: 991px), screen and (max-height: 824px) {
	.landing-message h1 {
		font-size:45px;
	}
	.landing-message h3 {
		font-size:20px;
	}
}
@media (max-width: 767px), screen and (max-height: 600px) {
	.landing-message h1 {
		font-size:40px;
	}
	.landing-message h3 {
		font-size:15px;
	}
}
.scrollto {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: block;
	z-index: 2;
	margin-bottom: 70px;
}
.scrollto .mouse {
	border: 3px solid #FFF;
	padding:25px 20px;
	border-radius: 50px;
}
.scrollto .mouse span {
	position: absolute;
	background: #FFF;
	padding: 6px 3px;
	border-radius: 50px;
	border: 1px solid #FFF;
	margin-left: -4px;
	margin-top: -5px;
	-webkit-animation: fadeInDown 1s linear infinite;
	-moz-animation: fadeInDown 1s linear infinite;
	animation: fadeInDown 1s linear infinite;
}

/*-----------------------
	Landing Social
------------------------*/
.social {
	background:rgba(23, 64, 90, 0.7);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: block;
	z-index: 2;
}
.social ul {
	margin: 20px 0px;
	padding:0;
}
.social ul li {
	display:inline-block;
	list-style-type: none;
	padding: 0px 20px
}
.social ul li a i {
	opacity:0.7;
}
.social ul li a:hover i {
	opacity:1;
	color:#09F;
}
.social ul li a i.fa {
	font-size: 30px;
}

/*-----------------------
	About Section
------------------------*/
.main-title {
	width: 350px;
	border: 2px solid;
	letter-spacing: 3px;
	line-height: 36px;
	margin: 0 auto;
	max-width: 350px;
	min-width: 250px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:100px;
}
@media (max-width: 767px) {
	.main-title {
		width: 250px;
		max-width: 250px;
		font-size:20px;
	}
}
.sub-title {
	margin-bottom: 30px;
}
.img-about {
	margin:0 auto;
	margin-bottom: 50px;
}
.bio{
	font-size: 20px;
	font-weight: 100;
	line-height: 1.5;
}
.about-left ul {
	margin: 0;
	padding: 0;
}
.about-left ul li {
	list-style-type: none;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 15px;
	padding-right: 10px;
	border-right: 2px solid #09F;
	margin-bottom: 20px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#about ul li i.fa {
	font-size: 18px;
	color: #09F;
}
.about-left ul li i.fa{
	padding-left: 10px;
}
.about-right ul li i.fa{
	padding-right: 10px;
}
#about li:hover span {
	color:#09F;
}
.about-left ul li span {
	display:block;
	font-weight:500;
	font-size:20px;
}
.about-right ul {
	margin: 0;
	padding: 0;
}
.about-right ul li {
	list-style-type: none;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 15px;
	padding-left: 10px;
	border-left: 2px solid #09F;
	margin-bottom: 20px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.about-right ul li span {
	display:block;
	font-weight:500;
	font-size:20px;
}
/*.about-left ul li:hover span, .about-right ul li:hover span {
	color:#09F;
}*/
@media (max-width: 767px) {
	#about ul li {
		border-radius:10px;
	}
	#about ul li i.fa {
		display:none;
	}
	.about-right, .about-left {
		text-align:center;
	}
	.about-right ul, .about-left ul  {
		margin:10px 0px;
	}
	.about-right ul li, .about-left ul li {
		border:0px;
		padding:0px;
	}

}

/*-----------------------
	Skill Section
------------------------*/
#skill {
	/*background: url(img/resume-bg.jpg) 50% 0 repeat-y fixed;*/
	background: url(img/resume-bg-1.jpg) 50% 0 repeat-y fixed;
	color: #fff;
	background-size: cover;
}

.skill-img {
  margin: 0 auto;
}

/*-----------------------
	Easy Pie Chart
------------------------*/
.piechart {
	position: relative;
	width: 150px;
	height: 220px;
	text-align: center;
	margin-left: auto!important;
	margin-right: auto!important;
}
.chart {
	line-height: 150px;
	margin-bottom: 10px;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.chart span {
	font-size:20px;
}
.piechart span.skill {
	font-size:20px;
	letter-spacing: 5px;
}
.piechart:hover span.skill {
	color:#09F;
}

/*-----------------------
	Templates Single
------------------------*/
.template-desc {
	background: #ECECEC;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #DFDFDF;
}
.template-desc-inner {
	font-size: 20px;
	font-weight: 100;
}
.template-desc h2, .template-desc h3{
	margin-top:0
}

/*-----------------------
	Experience
------------------------*/
.card-container {
	margin: 10px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-clip: padding-box;
	text-align:center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.15)
}
.card-image h4, .expand-title h4 {
	font-size: 15px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 5px;
}
.card-content {
	padding: 10px;
}
.expander {
	cursor:pointer;
}
.card-hidden {
	transform: translateY(0%);
}
.card-expanded{
	transform: translateY(-100%);
}
.card-content i.fa{
	display: block;
	font-size: 20px;
	color: #09F;
}
.card-content span, .expand-title span{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #09F;
}
.card-content p, .expand-title p{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight:100;
	margin: 0;
}
.card-expand {
	padding: 10px;
	position: absolute;
	background-color: #FFF;
	width: 100%;
	overflow-y: auto;
	top: 100%;
	height: 100%;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.expand-title {
	margin-bottom: 20px;
}
.card-expand i.fa {
	display: block;
	text-align: right;
	font-size: 25px;
	color: #09F;
	cursor:pointer;
}
.expand-content p {
	font-weight: 100;
	font-size: 18px;
	border-top: 2px solid #09F;
	padding-top: 20px;
}

.apps-support li {
	text-align: left;
}

/*-----------------------
	Time Lines
------------------------*/
.timeline-container {
	position: relative;
	padding-bottom: 40px;
	overflow: hidden;
}
.timeline-container:before {
	position: absolute;
	content: "";
	left: 49.95%;
	height: 600em;
	z-index: -1;
	width: 2px;
	background: #333333;
}
.timeline-container .latest, .oldest {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	color: #333333;
}
.timeline-container .latest{
	margin-top: 6px;
	margin-bottom: 40px;
}
.oldest {
	margin-top: 0px;
	margin-bottom: 6px;
}
.latest span, .oldest span {
	background: #F7F7F7;
	font-weight:500;
	letter-spacing:3px;
}
.latest span{
	padding: 5px 10px 5px 10px;
	border-bottom: 2px solid #09F;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.oldest span {
	padding: 5px 10px 7px 10px;
	padding-bottom: 7px;
	padding-top: 5px;
	border-top	: 2px solid #09F;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.timeline-container .group-item{
	position: relative;
	margin-bottom: 20px;
}
.timeline-container .group-item h3.group-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: 5px;
}
.timeline-container .group-item span.group-sub-title{
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.timeline-container .group-item p {
	padding-top: 15px;
	font-weight: 100;
	font-size: 18px;
}

/*Right Group*/
.timeline-container .group-right span.group-date {
	display: inline-block;
	padding: 8px 16px;
	float: left;
	left: 36%;
	top: 30px;
	color: #333333;
	border-right: 2px solid #09F;
	position: relative;
	text-transform: uppercase;
	border-top-left-radius: 10px;
	text-transform: uppercase;
	border-bottom-left-radius: 10px;
}
.group-right:hover span.group-date, .group-right:hover h3.group-title {
	color: #09F;
	border-color:#09F;
}
.group-left:hover h3.group-title, div.group-left:hover span.group-date {
	color: #09F;
	border-color:#09F;
}
div.group-left:hover  .group-middle, div.group-right:hover  .group-middle{
	background:#09F;
	border: 2px solid #FFF;
}
.timeline-container .group-right .group-middle {
	width: 20px;
	height: 20px;
	background: #F7F7F7;
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 38px;
	border: 2px solid #09F;
	border-radius: 50%;
}
.timeline-container .group-right .group-desc {
	text-align:left;
	border-left: 2px solid #09F;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	float: right;
	width: 45%;
	padding: 10px 25px 10px 25px;
	position: relative;
	color: #151d2a;
}

/*Left Group*/
.timeline-container .group-left span.group-date {
	display: inline-block;
	padding: 8px 16px;
	float: right;
	right: 36%;
	top: 30px;
	color: #333333;
	border-left: 2px solid #09F;
	position: relative;
	text-transform: uppercase;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.timeline-container .group-left .group-middle {
	width: 20px;
	height: 20px;
	background: #F7F7F7;
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 38px;
	border: 2px solid #09F;
	border-radius:50%;
}
.timeline-container .group-left .group-desc {
	text-align:right;
	border-right: 2px solid #09F;
	float: left;
	width: 45%;
	padding: 10px 25px 10px 25px;
	position: relative;
	color: #333333;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
@media (max-width: 767px) {
	.timeline-container span.group-date, .timeline-container div.group-desc{
		background:#F7F7F7;
	}
	.timeline-container .group-item span.group-date {
		text-align: center;
		display: block;
		float: none;
		position: static;
		border-bottom: 2px solid #09F;
		border-right:0px;
		border-left:0px;
		border-radius:0;
	}
	.timeline-container .group-item div.group-desc {
		text-align: center;
		float: none;
		width: 100%;
		border-top: 2px solid #09F;
		border-right:0px;
		border-left:0px;
		top: 20px;
		margin-bottom: 30px;
		border-radius:0;
	}
		.timeline-container .group-left .group-middle, .timeline-container .group-right .group-middle {
		display:none;
	}
}
@media (max-width: 991px) {
	.timeline-container .group-right span.group-date{
		left: 33%;
	}
	.timeline-container .group-left span.group-date{
		right: 31%;
	}
}

/*-----------------------
	Awards
------------------------*/
#awards {
	background: url(img/awards-bg.jpg) 50% 0 repeat-y fixed;
	color: #fff;
	background-size: cover;
  }
.award-container {
	text-align: center;
}
.award {
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
.award i.fa {
	padding: 30px;
	margin: 15px 10px;
	background: #FFF;
	border: 2px solid #FFF;
	color:#09F;
	border-radius: 100%;
	font-size: 50px;
	position: relative;
	width: 120px;
	height: 120px;
	line-height: 1.2;
 }
.award-container h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: 0;
}
.award-container span {
	display: block;
}
.award-container span.award-desc {
	padding-top: 15px;
	font-weight: 100;
	font-size: 18px;
}
.award-container .award-meta {
	display:block;
}
.award-container .award-meta span, .award-container .award-meta i.fa {
	padding: 0px 10px;
}
.award-container .award-meta i.fa {
	font-size:17px;
	padding: 10px 0px;
}
.award-container span.award-date {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:15px;
}
.award-container:hover .award i.fa {
	background:#09F;
	color:#FFF;
}
.award-container:hover h3 {
	color:#09F;
}

/*-----------------------
	Quotes
------------------------*/
#quotes {
	background: url(img/awards-bg.jpg) 50% 0 repeat-y fixed;
	color: #fff;
	background-size: cover;
}
.owl-wrapper-outer {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}
.quo-container {}
.quote {
	padding: 10px;
}
.quo-person {
	/*border-right: 2px solid #09F;*/
	padding: 20px 15px;
}
.fa-quote-left {
	color: #09F;
}
.quo-person h3 {
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.quo-person p {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 100;
	margin: 0;
}
p.quo-text {
	line-height: 2;
	font-weight: 100;
	font-size: 18px;
}
@media (max-width: 767px) {}
@media (max-width: 991px) {}
@media (max-width: 1199px) {
	.quo-person {
		text-align: center;
		border-bottom:2px solid #09F;
		border-right:0;
		margin-bottom: 20px;
	}
	p.quo-text {
		text-align: center;
	}
}

/*-----------------------
	References
------------------------*/
#references {
	background: url(img/reference-bg.jpg) 50% 0 repeat-y fixed;
	color: #fff;
	/*background-size: cover;*/
}
.owl-wrapper-outer {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}
.ref-container {}
.reference {
	padding: 10px;
}
.ref-person {
	border-right: 2px solid #09F;
	padding: 20px 15px;
}
.ref-person h3 {
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.ref-person p {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 100;
	margin: 0;
}
p.ref-text {
	line-height: 2;
	font-weight: 100;
	font-size: 18px;
}
@media (max-width: 767px) {}
@media (max-width: 991px) {}
@media (max-width: 1199px) {
	.ref-person {
		text-align: center;
		border-bottom:2px solid #09F;
		border-right:0;
		margin-bottom: 20px;
	}
	p.ref-text {
		text-align: center;
	}
}

/*-----------------------
	Work Section
------------------------*/
.work-controls{
	text-align:center;
	margin-bottom:50px;
}
.work-item {
	position: relative;
}
.work-item a h3, .work-item a h5 {
	color:#FFF;
}
.item {
	margin-bottom: 30px;
}
.view-work-item {
	position: relative;
	overflow: hidden;
	display: block;
}
.work-item .overlay {}
.work-item .work-category, .work-item .work-name {
	text-transform: uppercase;
	background: #09F;
}
.work-item .work-category{
	padding: 5px 20px;
	position: absolute;
	top: 0;
}
.work-item .work-name {
	padding: 10px 20px;
	margin-top: 50px;
	position: absolute;
	top: 0;
}
.work-item h3, .work-item h5 {
	margin:0;
}
.work-item img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.work-item:hover img {
	-webkit-filter: grayscale(20%);
	filter: grayscale(20%);
}
@media (max-width: 767px) {
	.btn-work {
		padding: 5px 15px!important;
		font-size: 12px!important;
		margin: 10px 5px!important;
	}
}
@media (max-width: 991px) {}
@media (max-width: 1199px) {}

/*-----------------------
	Contact
------------------------*/
#contact {
	background: url(img/contact-bg.jpg) 50% 0 repeat-y fixed;
	color: #fff;
	background-size: cover;
}
#contact .margin-lg {
	margin-bottom: 50px!important;
}
.alert {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}
.form-group label {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.form-group input, .form-group textarea	{
	margin-bottom:15px;
	border: 0;
	border-radius: 0;
	border-left: 2px solid #89D0FF;
}
#contact .form-group input, #contact .form-group textarea{
	background: rgba(255, 255, 255, 0.9);
}
#contact .form-group input:focus, #contact .form-group textarea:focus{
	background: rgba(255, 255, 255, 1);
	border-left: 2px solid #09F;
}
/*Validation Labels*/
label.error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
}
/*Social*/
.social-box-container {
	margin: 100px 0px;
}
@media (max-width: 767px) {
	.social-box-container {
		margin: 50px 0px;
	}
}
.social-box-container a {
	text-decoration:none;
}
.social-box-container:hover {
	opacity:0.8;
}
.social-box-container a:focus {
	color:#FFF;
}
.social-box-container i.fa {
	width: 70px;
	height: 70px;
	font-size: 35px;
	background: #09F;
	border-radius: 50%;
	line-height: 2;
}
.social-box-container .social-text {
	margin: 20px 0px;
	font-size:20px;
	font-weight: 100;
}
/*footer*/
.copyright {
	font-weight:100;
	font-size: 15px;
	letter-spacing: 3px;
}

/*-----------------------
	Owl Carousel
------------------------*/
.owl-theme .owl-controls .owl-page span {
	border-radius:0!important;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background:#09F;
}
.owl-wrapper-outer {}

/*-----------------------
	Buttons
------------------------*/
.btn {
	border:0;
	border-radius:0;
}
.btn-about {
	border: 2px solid #09F;
	padding: 10px 20px;
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.btn-about:hover, .btn-about:focus {
	border: 2px solid #09F;
	color: #FFF;
	background: #09f;
}
.btn-work {
	border: 2px solid #09F;
	padding: 10px 20px;
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0px 5px;
	background: #FFF;
}
.btn-work:hover, .btn-work:focus {
	border: 2px solid #09F;
	color: #FFF;
	background: #09f;
}
.btn-contact {
	border: 2px solid #09F;
	padding: 10px 20px;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: transparent;
}
.btn-contact:hover, .btn-contact:focus {
	border: 2px solid #09F;
	color: #FFF;
	background: #09f;
}
.social-btn {
	font-size:13px!important;
}
.is-checked{
	border: 2px solid #09F;
	color: #FFF;
	background: #09f;
}

/*-----------------------
	Back To Top
------------------------*/
.scrollToTop{
	padding:10px;
	margin:10px;
	text-align:center;
	position:fixed;
	bottom:0px;
	right:0px;
	display:none;
	border: 2px solid rgba(0, 153, 255, 0.5);
	color: rgba(0, 153, 255, 0.5);
}
.scrollToTop:hover, .scrollToTop:focus{
	text-decoration:none;
	border: 2px solid #09F;
	color: #09F;
}
.scrollToTop i.fa{
	width: 35px;
	height: 35px;
	line-height: 30px;
}

/*-----------------------
	Lightbox Modal
------------------------*/
#lightbox .close {
	opacity: 1;
	color: rgb(255, 255, 255);
	padding: 6px 15px;
	position: absolute;
	bottom: 10px;
	right: 6px;
	z-index: 1032;
	font-size: 30px;
	width: 55px;
	height: 55px;
	line-height: 0.5;
}
.modal-content {
	border-radius:0;
	display: inline-block;
}
.modal-caption {
	background: #09F;
    position: absolute;
    display: block;
    width: 100%;
    padding: 20px 10px;
}
.modal-caption #caption {
	margin: 0;
    color: #FFF;
	font-size: 20px;
}

/*-----------------------
	Animations
------------------------*/
.wow {
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 0.3s;
}
