/* BASE ------------------------------------------- */
/*
* {
  box-sizing: border-box; }

body {
  height: 100%;
  color: #343434;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0; }

.cover-container {
  max-width: 42em; }

h1,
h2 {
  font-family: "Bree Serif", serif; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

p {
  margin-bottom: 1.25em; }
  .intro p {
    font-size: 1.2em; }

a {
  color: #0A1525;
  text-decoration: none; }
  a:hover {
    color: #A5ACAF; }
*/

/* HEADER & FOOTER -------------------------------- */
/*
header {
  height: 550px;
  background: linear-gradient(#4B92DB, #0A1525), url("../img/bg.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative; }
  header h1 {
    color: #fff;
    font-size: 4.8em;
    letter-spacing: 1px;
    margin: auto;
    vertical-align: middle; }
  header p {
    color: #A5ACAF;
    font-size: 1.25em;
    margin: 0; }
  header #space {
    padding: 50px 0 0 0; }
  header::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    position: absolute;
    transform: skewY(-2deg);
    height: 85px;
    background-color: #fff;
    bottom: -50px; }
*/

footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: #eee;
  margin-top: 3.5em;
  position: relative; }
  footer::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    position: absolute;
    transform: skewY(-2deg);
    height: 75px;
    background-color: #eee;
    top: -40px; }
  footer .footer-text {
    margin: 20px 0; }

/* CONTAINERS ------------------------------------- */
/*
.inner {
  padding: 0.5em 1em; }
*/

.intro {
  margin: 60px 0 0 0;
  padding: 3em; }

.main-content {
  margin-bottom: 100px; }


/* COMPONENTS ------------------------------------------*/

/*
.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 400;
  text-transform: uppercase; }
  .navbar ul li {
    text-align: left; }
    .navbar ul li a {
      color: #eee; }
      .navbar ul li a:hover {
        color: #0A1525;
        cursor: pointer; }
*/

.navbar #img-featured-navbar-sm {
  width: 60px;
  height: 60px;
  padding: 0.5em;
  margin-top: -20px;
  visibility: hidden;
  opacity: 0;
  transform: scale(1, 1);
  transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
}

.navbar-center {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 500px;
}

/* The Magic Float Center Code */
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}

/*
  .navbar .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important; }
  .navbar .navbar-toggler-icon {
    background-image: none !important;
*/

    /* Icon 3 */ }
/*
  .navbar #nav-icon3 {
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: -13px;
    margin-right: -13px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right; }
    .navbar #nav-icon3:hover {
      color: #A5ACAF; }
  .navbar #nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .navbar #nav-icon3 span:nth-child(1) {
    top: 0px; }
  .navbar #nav-icon3 span:nth-child(2), .navbar #nav-icon3 span:nth-child(3) {
    top: 13px; }
  .navbar #nav-icon3 span:nth-child(4) {
    top: 26px; }
  .navbar #nav-icon3.open span:nth-child(1) {
    top: 13px;
    width: 0%;
    left: 50%; }
  .navbar #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .navbar #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .navbar #nav-icon3.open span:nth-child(4) {
    top: 13px;
    width: 0%;
    left: 50%; }
*/

.container {
    background-color: transparent !important;
}

pre#typewriter {
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent !important;
  border: none !important;
  margin-left: 50px;
}

#typewriter-div {
  width: 100%;
  height: 325px;
  background-color: transparent; }

.var-highlight {
  color: rgba(253, 149, 90, 0.9); /* #0A1525; */
  font-weight: 500; }

.string-highlight {
  color: #559CD6; }

#typewriter {
  width: 100%;
  font-size: 1.5em;
  color: #eee;
  font-family: "Courier New";
  margin: auto;
  text-align: left; }
  #typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate; }


@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* About Section - Image Featured */
.img-featured {
  width: 165px;
  border-radius: 50%;
  margin-top: 25px;
  position: relative;
  z-index: 100;
  transform: scale(1, 1);
  transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease; }


/* Main Content Section  */
.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid #eee;
  border-radius: 0.25em; }
  .card h1 {
    margin: 0.35em 0 0;
    line-height: 1.25; }
  .card .icon,
  .card h1 {
    color: #0A1525; }
  .card .icon {
    font-size: 80px; }

.btn-callout, .btn-info {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em; }
  .btn-callout:hover, .btn-info:hover {
    color: #fff;
    opacity: 0.8; }
  .btn-callout:active, .btn-info:active {
    opacity: initial; }

.btn-callout {
  font-size: 1.1em;
  background-color: #4B92DB; }
.btn-info {
  font-size: 0.85em;
  background-color: #0A1525;
  margin-top: auto; }
