/************************
	GENERAL
****************************/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
 height: 100%;
}


body {
  color:#000;
  margin:0;
  background-color:#FFF;
  font-family: 'Corben', Helvetica;
}

/* make all anchor selector to have this color and no decoration */
a {
  color: #000;
  text-decoration: none;
  }



/************************
	TOP SECTION - HEADER
****************************/

/*

USE THE FOLLOWING Colors:

Dark Teal: #69C4CC
Light Blue Text: #D5F1F0
Medium Blue Text: #2A959E
Light Teal: #CFEFEE
Bright Pink: #E9168C
Light Pink: #F3CECD
Bright Purple: #6F308B
Dark Purple: #6F1549
Green (auction page form): #edf9d3
Green (auction page text color): #8db639

*/

.light-blue {
  background-color: #D5F1F0;
  margin: 0;
}


.signIn-signUp {
height: 30px;
  text-align: right;
  font-family: arial;
  font-size: 0.95em;
  margin-top: 30px;
  margin-bottom: 3px;
  padding-right: 11%;
}

.signIn-signUp a {
  color: #69C4CC;
}

.logo {
  margin-top: -45px;
}

.top-border {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.btn-tagline {
  height: 155px;
  padding-left: 60px;
}

.first-buttons li {
  display: inline-block;
  margin-top: 55px;
}

.btn-font {
  font-family: arial;
  font-size: 1.20em;
  border-radius: 15px;
  width:110px;
}

.btn-about{
  background-color: #69C4CC;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-about:focus,
.btn-aboout:hover{
  background-color: #69C4CC;
  background-position:0 -15px
}

.btn-contact{
  background-color: #8db639;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-contact:focus,
.btn-contact:hover{
  background-color: #8db639;
  background-position:0 -15px
}

.btn-blog{
  background-color: #6F308B;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-blog:focus,
.btn-blog:hover{
  color:#69C4CC;
  background-color:#6F308B;
  background-position:0 -15px
}

.btn-press{
  background-color: #E9168C;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-press:focus,
.btn-press:hover{
  background-color:#E9168C;
  background-position:0 -15px
}



/******************************
  NAVIGATION BAR (MID SECTION)
******************************/


.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-weight: 600;
  clear: both;
  margin-top: 0;
  margin-bottom: 0;
  color: #660033;
  background-color: #F3CECD;
}


.container-fluid li {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding: 0 20px 0 20px;
  border-radius: 10px;
}

.container-fluid li:hover {
  color: #fff;
  cursor:pointer;
}

.container-fluid a:hover {
  color: #fff;
  cursor:pointer;
}


.navbar-default .navbar-nav>li>a {
  color: purple;
}


.navbar-form .form-control {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  border-radius: 15px;
}

.navbar-left {
  /*float: right!important;*/
  font-family: arial;
  color: #F3CECD;
}


/************************
  TOP SECTION - HEADER
****************************/

.dark-blue-div {
  background-color : #69C4CC;
}

.top-white-div {
  background-color : #fff;
  margin-left: 7%;
  margin-right: 7%;
}

.bottom-white-div {
  background-color : #fff;
  margin-left: 7%;
  margin-right: 7%;
}


/***********************************************
  MID SECTION - AFTER NAV BAR - PIC SECTION
***********************************************/

.padding-to-nav {
  margin-top: -20px;
}


.first-last-col {
  height: 160px;
}

.aspect {
  /*float: left;*/
  padding-top: 2px;
  padding-bottom: 2px;
  color: #99CC33;
  font-size: 1.19em;
  font-weight: bold;
  /*display:block;*/
  margin: 0 0 0 20px;
  top:-30px;
  left: 0;
}

.buying-and-selling li {
  display: inline-block;
  font-family: arial;
  font-size: 1.22em;
  font-weight: normal;
  top: -50px;
  left: 49px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #69C4CC;
}

.twins {
  padding-top: 20px;
  padding-bottom: 5px;
}

.triplets {
  padding-bottom: 5px;
}

.tree {
  float: right;
}

.dotted-line {
  height: 9px;
  padding: 10px;
}

.bottom-border {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.social-media li {
  display: inline-block;
}

.first-last-col-soc-med {
  height: 116px;
}



/************************
  FOOTER
****************************/


.col-md-12 li {
  font-family: arial;
  font-size: 0.95em;
  font-weight:lighter;
  margin:0;
  padding-top: 10px;
  padding-bottom: 10%;
  list-style:none;
  display: inline-block;
}

.footer-link a {
  color: #D5F1F0;
}

.col-md-12 ul {
  text-align: center;
}
