
 /* --- Fonts selection ---*/
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata|Arvo:700|Open+Sans:400italic,400);
@import url('https://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css');

/* Global Styles */

html,
body {
		width: 100%;
		height: 100%;
		font-family: "Source Sans Pro","Nunito","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
	font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}
h2 {
	color: #dd3b2a;

}
h3 {
	color: #dd3b2a;
	font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

.text-vertical-center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
}

.text-vertical-center h1 {
		margin: 0;
		padding: 0;
		font-size: 5em;
		font-weight: 700;
}

.rolando-bernal {
		color: #fafafa;
		text-shadow: 0px 0px 8px #333;
}

.software-developer {
		color: #dd3b2a;
		text-shadow: 1px 1px #333;
		font-family: "Reenie Beanie",Helvetica,Arial,sans-serif;
		font-size: 4em;
}

.scroll-down {
		font-size: 1.5em;
		font-family: "Source Sans Pro","Nunito","Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #dd3b2a;
}

.welcome {
		color: #dd3b2a;
		/*text-shadow: 0px 0px 1px #f3f3f3;*/
}

#welcome {
		color: #fafafa;
		/*text-shadow: 0px 0px 1px #f3f3f3;*/
}

.my-work {
		color: #333;
		background-color: #f3f3f3;
		text-shadow: 2px 2px #ddd;
		text-align: center;
}

.work-process {
		color: #fff;
		text-shadow: 1px 1px #777;
}

.work-process li {
		text-shadow: none;
		display: inline-block;
		text-decoration: none;
		padding-right: 15px;
		padding-left: 15px;
		text-shadow: none;
}

.thanks {
		color: #fff;
		text-shadow: 1px 1px #333;
		text-align: center;
}

.rolando {
		font-family: 'Reenie Beanie', Helvetica;
		font-size: 3em;
		color: rgba(255,255,255,.95);
}

.my-experience {
		color: #333;
		background-color: #f3f3f3;
}

.my-resume {
		color: #fff;
		background-color: #232323;
}

.honest {
		color: #fff;
		text-shadow: 1px 1px #556666;
}

a {
		color: rgba(255,255,255,.65);
		text-decoration: none;
}

a:hover,
a:focus,
a:active {
		color: #dd3b2a;
		text-decoration: none;
}


/* Custom Button Styles */

.btn-dark {
	border-radius: 0;
	color: #fafafa;
	background-color: rgba(3,3,3,0.5);
	border-radius: 4px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
		color: #fff;
		background-color: rgba(256,256,256,0.75);
}

.btn-light {
		border-radius: 0;
		color: #333;
		background-color: rgba(255,255,255,0.8);
		border-radius: 4px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
		color: red;
		background-color: rgb(255,255,255);
}

.fa-circle {
		color: #fff;
}

.fa-inverse {
		color: #f3f3f3;
}

.fa-html5:hover,
.fa-html5:focus,
.fa-html5:active {
		border-radius: 100%;
		background-color: rgba(255,255,255,0.8);
}

.skills-btn-dark {
		border-radius: 0;
		color: #777;
		background-color: rgba(220,220,220,0.5);
		border-radius: 4px;
}
.skills-btn-dark:hover,
.skills-btn-dark:focus,
.skills-btn-dark:active {
		border-radius: 0;
		color: #fff;
		background-color: rgba(3,3,3,0.5);
		border-radius: 4px;
}

/* Custom Horizontal Rule */

hr.small {
		max-width: 100px;
		border-top: 1px solid #333;
}

/* Side Menu */

#sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		right: 0;
		width: 250px;
		height: 100%;
		margin-right: -250px;
		overflow-y: auto;
		background: rgba(3,3,3,0.85);
		-webkit-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
}

.sidebar-nav {
		position: absolute;
		top: 0;
		width: 250px;
		margin: 0;
		padding: 0;
		list-style: none;
}

.sidebar-nav li {
		text-indent: 20px;
		line-height: 40px;
}

.sidebar-nav li a {
		display: block;
		text-decoration: none;
		/*color: #112233;*/
}

.sidebar-nav li a:hover {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
		text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
		height: 55px;
		font-size: 18px;
		line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
		/*color: #112233;*/
}

.sidebar-nav > .sidebar-brand a:hover {
		color: #fff;
		background: none;
}

#menu-toggle {
		color: #fafafa;
		z-index: 1;
		position: fixed;
		top: 0;
		right: 0;
		border-radius: 4px;
}

#menu-toggle:hover,
#menu-toggle:focus,
#menu-toggle:active {
		color: #fff;
		background-color: rgba(3,3,3,0.85);
}

#sidebar-wrapper.active {
		right: 250px;
		width: 250px;
		-webkit-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
}

.toggle {
		margin: 5px 5px 0 0;
}

/* Header */

.header {
		background-color: #F8F8F8;
		display: table;
		position: relative;
		width: 100%;
		height: 100%;
		background: url(../img/main-bg.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		filter: Alpha(Opacity=90);
}

/* About */

#about {
		height: 10%;
}

.about {
		padding: 65px 0;
}

.about {
		display: table;
		position: relative;
		width: 100%;
		height: 100%;
		background: url(../img/main-bg1.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		filter: Alpha(Opacity=50);
}


/* Work process */
#work-process {
		background-color: #333;
		display: table;
		position: relative;
		width: 100%;
		height: 100%;
		background: url(../img/main-bg1.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		filter: Alpha(Opacity=90);

}

.profile-photo {
		border-radius: 100%;
		width: 300px;
		height: 300px;
		opacity: 1;
}

/* Skills */

.skills {
		background-color: #333;
		padding: 50px 0;
}

#skills {
		color: #333;
		background-color: #f3f3f3;
}

.fa-trophy {
		padding: 50px 50px;
}

.skill-item {
		margin-bottom: 30px;
}

.text-primary {
			color: #dd3b2a;
}


.text-primary:hover,
.text-primary:focus,
.text-primary:active {
	border-radius: 100%;
	background-color: rgba(255,255,255,0.8);
}

.download {
		font-size: 1em;
		border-radius: 5px;
		color: #fff;
		background-color: rgba(3,3,3,0.55);
		margin-bottom: 10px;
		border-radius: 5px;
		border-color: #fff;
}

.download:hover,
.download:focus,
.download:active {
		color: #dd3b2a;
		background-color: rgba(255,255,255,0.85);
		border-radius: 5px;
}


.fa-angle-double-up {
		font-size: 1em;
		border-radius: 5px;
		color: #F8F8F8;
		background-color: rgba(0,0,0,0.3);
		margin-bottom: 10px;
}

.fa-angle-double-up:hover,
.fa-angle-double-up:focus,
.fa-angle-double-up:active {
		color: #FFFFCC;
		background-color: rgba(0,0,0,0.85);
}

aside.tools img {
	margin: 50px auto;
}

#jq-logo {
	padding-top: 40px;
}

#sql-logo {
	padding-top: 40px;
}


/* Callout */

.callout {
		display: table;
		width: 100%;
		height: 80%;
		color: #fff;
		background-color: #337ab7;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		filter: Alpha(Opacity=50);
}

#resume {
		color: #e0e0e0;
}

.resume-link {
		text-align: center;
}

.resume-background-color {
		background-color: #232323;
}

/* PARALLAX effect: setting base styles to image containers for the various sections */

.bg_rolando_bernal,
.bg_about,
.bg_callout,
.bg_work-process {
	/* fix background */
	background-attachment: fixed;
	/* center it */
	background-position: center center;
	/* Scale it nicely to the element */
	background-size: cover;
}

/* Portfolio */

hr.small-line {
		max-width: 100px;
		color: #f3f3f3;
}

.portfolio {
		padding: 50px 0;
		background-color: #f3f3f3;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
}

#portfolio,
#portfolio2 {
		background-color: #f3f3f3;
}

.portfolio-item {
		margin-bottom: 30px;
}

.img-portfolio {
		margin: 0 auto;
		width: 300px;
		height: 300px;
}

.img-portfolio:hover {
		background: #fff;
		opacity: 0.75;
		cursor: pointer;
}

.proj-details {
		font-size: 1em;
		text-align: left;
		list-style: none;
		color: #333;
}

.img-modal {
		width: 100%;
		vertical-align: center;
}

.project-title {
		color: #dd3b2a;
}




/* Call to Action */

.call-to-action {
		background-color: #337ab7;
		padding: 50px 0;
}

.call-to-action .btn {
		margin: 10px;
}

/* Map */

.map {
		height: 230px;
		background: url(../img/RB-logo2.png) no-repeat center center scroll;
		background-color: #f3f3f3;
}

@media(max-width:768px) {
		.map {
				height: 75%;
		}
}

/* Footer */

footer {
		padding-top: 20px;
		padding-bottom: 180px;
		background-color: #f3f3f3;
}

#contact {
		height: 10%;
}

.rb-footer {
		color: #dd3b2a;
}

.social a,
.phone-email a {
		color: #333;
}

a:hover,
a:focus,
a:active {
		color: #dd3b2a;
		text-decoration: none;
}

/*Social a the bottom fo the page*/
.social-bottom {
	margin-top: 50px;
	width: 100%;
	height: 70px;
	display: block;
	z-index: 2;
}
.social-bottom ul {
	margin: 20px 20px;

}

.social-bottom ul li {
		display: inline-block;
		list-style-type: none;
		padding: 5px 5px;
		margin: 20px;
}

.social-bottom ul li a i.fa {
	font-size: 50px;
}

#linkedin:hover,
#linkedin:focus,
#linkedin:active,
.fa-linkedin:hover,
.fa-linkedin:focus,
.fa-linkedin:active {
		color: #FFF;
		background-color: #007bb6;
		border-radius: 4px;
}

#twitter:hover,
#twitter:focus,
#twitter:active,
.fa-twitter:hover,
.fa-twitter:focus,
.fa-twitter:active {
		color: #FFF;
		background-color: #55acee;
		border-radius: 4px;
}


#google-plus:hover,
#google-plus:focus,
#google-plus:active,
.fa-google-plus:hover,
.fa-google-plus:focus,
.fa-google-plus:active {
		color: #FFF;
		background-color: #dd4b39;
		border-radius: 4px;
}

#github:hover,
#github:focus,
#github:active,
.fa-github:hover,
.fa-github:focus,
.fa-github:active {
		color: #fff;
		background-color: #444;
		border-radius: 4px;
}

#email:hover,
#email:focus,
#email:active,
.fa-envelope-o:hover,
.fa-envelope-o:focus,
.fa-envelope-o:active {
		color: #fff;
		background-color: #90BF88;
		border-radius: 4px;
}
