// VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #0A1525;
$color-secondary: #4B92DB;
$color-accent: #A5ACAF; //#C8102E;
$color-shade: #eee;

$color-text: #343434;
$color-bg: #0A1525;
$color-bg-lt: #0f2039;
$color-bg-light: #4B92DB;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1000px;

// MIXINS ------------------------------------ /

@mixin skewed {
  position: relative;
  &::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    //height: 100%;
    position: absolute;
    transform: skewY(-2deg);
    @content;
  }
}

@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

/* BASE ------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-stack-primary;
  text-align: center;
  margin: 0;
}

h1,
h2 {
  font-family: $font-stack-secondary;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1.25em;
  .intro & {
    font-size: 1.2em;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-accent;
  }
}

/* HEADER & FOOTER -------------------------------- */

header {
  height: 460px;
  background: linear-gradient($color-bg-light, $color-bg),
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  h1 {
    color: $white;
    font-size: 4.8em;
    letter-spacing: 1px;
    margin:auto;
    vertical-align:middle;
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
    #space {
        padding: 50px 0 0 0;
    }
  @include skewed {
    height: 85px;
    background-color: $white;
    bottom: -35px;
  }
}

footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: $color-shade;
  margin-top: 3.5em;
  @include skewed {
    height: 75px;
    background-color: $color-shade;
    top: -40px;
  }
    .footer-text {
        margin: 20px 0;
    }
}


/* CONTAINERS ------------------------------------- */

.inner {
  padding: 0.5em 1em;
}

.intro {
  margin: auto;
  padding: 3em;
}

.main-content {
    margin-bottom: 100px;
  }

/* COMPONENTS ------------------------------------- */

// Nav-bar
#navbar,
#navbar-sm {
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    line-height: 64px;
    z-index: 400;
    a {
        display: inline-block;
        color: $color-shade;
        font-size: 1.15em;
        text-align: center;
        text-transform: uppercase;
        padding: 0 1em;
        vertical-align: top;
        &:hover {
            color: $color-accent;
        }
    }
    #img-featured-navbar-sm {
        width: 64px;
        height: 64px;
        padding: 0.5em;
        visibility: hidden;
        opacity: 0;
        transform: scale(1, 1);
        transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
    }
}

#navbar-sm {
    visibility: hidden;
    a {
        font-size: 1em;
        &:hover {
            color: $color-primary;
            background-color: $color-shade;
        }
    }
    .menu-icon {
        display: none;
        font-size: 15px;
    }
}

#navbar-mobile {
    display: none;
}

header > nav {
    background-color: rgba(15,32,57,0.90);//$color-bg-lt;
    display: none;
    transform: 300ms all ease;
    padding-top: 64px;
    position: fixed;
    z-index: 9;
    width: 100%;
    ul {
        list-style-type: none;
        li {
            border-bottom: 1px dotted $color-bg;
            position: relative;
            text-align: left;
            a {
                display: block;
                color: $color-shade;
                font-weight: 700;
                padding: 1.5rem;
                text-decoration: none;
                transition: 250ms all ease;
                &:hover {
                    color: $color-primary;
                    background-color: $color-shade;
                    cursor: pointer;
                }
            }
        }
        li:last-of-type {
            border-bottom: 2px solid $color-bg;
        }
    }
}

// Menu Icon
/* Icon 3 */

#nav-icon3 {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 15px 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
    &:hover {
        color: $color-accent;
    }
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 13px;
}

#nav-icon3 span:nth-child(4) {
  top: 26px;
}

#nav-icon3.open span:nth-child(1) {
  top: 13px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 13px;
  width: 0%;
  left: 50%;
}

// Typewriter Effect
.typewriter {
    h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .1em solid transparent; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end 5;
    }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $color-shade }
}

#typed-cursor {
    font-weight: 100;
    font-size: 30px;
    color: $white;
 }
#typed-cursor.blinking {
    -webkit-animation: .5s blink step-end infinite;
    -moz-animation: .5s blink step-end infinite;
    -ms-animation: .5s blink step-end infinite;
    -o-animation: .5s blink step-end infinite;
    animation: .5s blink step-end infinite;
}


// Header image
.img-featured {
    width: 165px;
    border: 2px solid $white;
    border-radius: 50%;
    margin-top: 90px;
    position: relative;
    z-index: 100;
    transform: scale(1, 1);
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    border: 1px solid $color-shade;
    border-radius: 0.25em;
    h1 {
    margin: 0.35em 0 0;
    line-height: 1.25;
    }
    .icon,
    h1 {
    color: $color-primary;
    }
    .icon {
        font-size: 80px;
    }
}

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%btn {
  color: $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  &-callout {
    @extend %btn;
    font-size: 1.1em;
    background-color: $color-secondary;
  }
  &-info {
    @extend %btn;
    font-size: 0.85em;
    background-color: $color-primary;
    margin-top: auto;
  }
}




/* MEDIA QUERIES ---------------------------------- */
//Remember: 'min-' means 'larger than' and 'max-' means 'smaller than'


    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
        header {
            h1 {
                font-size: 2.75em;
            }
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
            header {
                height: 460px;
                h1 {
                    font-size: 3.75em;
                    margin-bottom: 30px;
                }
            }
            .img-featured {
                display: none;
            }
            #navbar,
            #navbar-sm {
                display: none;
            }
            #navbar-mobile {
                width: 100%;
                display: block;
                position: fixed;
                z-index: 10;
                color: $white;
                background-color: rgba(10, 21, 37, 0.93); //$color-bg;
                &:hover {
                    color: $color-accent;
                }
            }
            #navbar-mobile a:not(:first-child) {
                &:hover {
                    color: $color-primary;
                    background-color: $color-shade;
                }
            }
            #navbar-mobile a.menu-icon {
                float: right;
                display: block;
                font-size: 35px;
                color: $white;
                width: 64px;
                height: 64px;
                &:hover {
                    color: $color-accent;
                    background-color: transparent;
                }
            }
            #navbar-mobile.responsive a {
                float: none;
                display: block;
                text-align: left;
                padding-left: 15px;
                color: $color-shade;
                background-color: lighten($color-bg, 10%);
                &:hover {
                    color: $color-primary;
                    background-color: $color-shade;
                }
            }
            #img-featured-navbar-mobile {
                width: 64px;
                height: 64px;
                padding: 0.5em;
                visibility: visible;
                opacity: 1;
                transform: scale(1, 1);
                transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
                float: left;
            }
            #navbar-mobile.responsive {
                position: fixed;
                z-index: 10;
                .menu-icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    &:hover {
                        color: $color-accent;
                        background-color: transparent;
                    }
                }
            }
            header > nav.responsive {
                display: block;
            }
    }

    /* Smaller Devices, Tablets */
    @media (min-width: 607px) {
      .main-content {
        display: flex;
        flex-wrap: wrap;
      }
      .card {
        flex: 1;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .main-content {
            @include center;
          }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
          header {
            background-position: 0 0, 0 45%;
          }
          .intro {
            width: 45%;
          }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }




//@media only screen and (max-width: 482px) {
//    header {
//        h1 {
//            font-size: 2.75em;
//        }
//    }
//}

//@media only screen and (max-width: 606px) {
//    header {
//        height: 460px;
//        h1 {
//            font-size: 3.75em;
//            margin-bottom: 30px;
//        }
//    }
//    .img-featured {
//        display: none;
//    }
//    #navbar,
//    #navbar-sm {
//        display: none;
//    }
//    #navbar-mobile {
//        width: 100%;
//        display: block;
//        position: fixed;
//        z-index: 10;
//        color: $white;
//        background-color: rgba(10, 21, 37, 0.93); //$color-bg;
//        &:hover {
//            color: $color-accent;
//        }
//    }
//    #navbar-mobile a:not(:first-child) {
//        &:hover {
//            color: $color-primary;
//            background-color: $color-shade;
//        }
//    }
//    #navbar-mobile a.menu-icon {
//        float: right;
//        display: block;
//        font-size: 35px;
//        color: $white;
//        width: 64px;
//        height: 64px;
//        &:hover {
//            color: $color-accent;
//            background-color: transparent;
//        }
//    }
//    #navbar-mobile.responsive a {
//        float: none;
//        display: block;
//        text-align: left;
//        padding-left: 15px;
//        color: $color-shade;
//        background-color: lighten($color-bg, 10%);
//        &:hover {
//            color: $color-primary;
//            background-color: $color-shade;
//        }
//    }
//    #img-featured-navbar-mobile {
//        width: 64px;
//        height: 64px;
//        padding: 0.5em;
//        visibility: visible;
//        opacity: 1;
//        transform: scale(1, 1);
//        transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
//        float: left;
//    }
//    #navbar-mobile.responsive {
//        position: fixed;
//        z-index: 10;
//        .menu-icon {
//            position: absolute;
//            right: 0;
//            top: 0;
//            &:hover {
//                color: $color-accent;
//                background-color: transparent;
//            }
//        }
//    }
//    header > nav.responsive {
//        display: block;
//    }
//}

//@media (min-width: 607px) {
//  .main-content {
//    display: flex;
//    flex-wrap: wrap;
//  }
//  .card {
//    flex: 1;
//  }
//}

//@media (min-width: 768px) {
//  .main-content {
//    @include center;
//  }
//}

//@media (min-width: 992px) {
//  header {
//    background-position: 0 0, 0 45%;
//  }
//  .intro {
//    width: 45%;
//  }
//}