/* line 12, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 18, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "header header" "sidebar sidebar" "content content" "side-callouts side-callouts" "footer footer";
}

/* line 23, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.title {
  grid-area: title;
  background-color: #999;
  padding: 1em 0;
}

/* line 28, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.header {
  grid-area: header;
  background-color: #BBB;
  padding: 1em 0;
}

/* line 33, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.sidebar {
  grid-area: sidebar;
  border: #999 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "articles courses tools";
  background-color: transparent !important;
  display: grid;
}

/* line 42, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.content {
  grid-area: content;
  border: #999 1px solid;
}

/* line 46, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.articles {
  padding: 1em 0;
  grid-area: articles;
  background-color: #CCC;
  border: #fff 1px solid;
}

/* line 52, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.courses {
  padding: 1em 0;
  grid-area: courses;
  background-color: #eaeaea;
  border: #e0e3ee 1px solid;
}

/* line 58, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.tools {
  padding: 1em 0;
  grid-area: tools;
  background-color: #eaeaea;
  border: #e0e3ee 1px solid;
}

/* line 64, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.content-title {
  padding: 1em 0;
  background-color: #999;
}

/* line 68, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box-item {
  padding: 1em 0;
  background-color: #BBB !important;
  border: #EAEAEA 1px solid;
  height: 200px;
  width: 200px;
  margin: 1em 1em 0 1em;
}

/* line 76, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.side-callouts {
  padding: 1em 0;
  grid-area: side-callouts;
  background-color: #999;
  color: #242424;
  font-size: 12px;
  height: 250px;
}

/* line 84, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.footer {
  padding: 1em 0;
  grid-area: footer;
  background-color: #242424;
  color: #eaeaea;
}

/* line 90, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box1 {
  grid-area: box1;
}

/* line 93, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box2 {
  grid-area: box2;
}

/* line 96, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box3 {
  grid-area: box3;
}

/* line 99, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box4 {
  grid-area: box4;
}

/* line 102, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box5 {
  grid-area: box5;
}

/* line 105, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box6 {
  grid-area: box6;
}

/* line 108, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box7 {
  grid-area: box7;
}

/* line 111, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box8 {
  grid-area: box8;
}

/* line 114, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box9 {
  grid-area: box9;
}

/* line 117, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box10 {
  grid-area: box10;
  background-color: #999;
  border: #333 1px solid;
  margin: 1em;
}

/* line 123, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
.box-container {
  background-color: #CCC;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-template-areas: ". box1 ." ". box2 ." ". box3 ." ". box4 ." ". box5 ." ". box6 ." ". box7 ." ". box8 ." ". box9 ." ". box10 .";
}

@media (min-width: 500px) {
  /* line 132, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .box-container {
    display: grid;
    grid-template-columns: 1fr 210px 210px 1fr;
    align-items: center;
    grid-template-areas: ". box1 box2 ." ". box3 box4 ." ". box5 box6 ." ". box7 box8 ." ". box9 box9 ." ". box10 box10 .";
  }
}

@media (min-width: 700px) {
  /* line 141, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .grid {
    display: grid;
    grid-template-columns: 1fr 200px 400px 1fr;
    grid-template-areas: "title title title title" ". header header ." ". sidebar content ." ". side-callouts content ." ". side-callouts content ." ". side-callouts content ." ". side-callouts content ." "footer footer footer footer";
    grid-gap: 1em;
  }
  /* line 147, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "articles" "courses" "tools";
    grid-gap: 10px;
    border: none;
  }
  /* line 154, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .box-container {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas: "box1 box2 box3" "box4 box5 box6" "box7 box8 box9" "box10 box10 box10";
  }
  /* line 161, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .box-item {
    height: 100px;
    width: auto;
    margin: 1em 1em 0 1em;
    border: #999 1px solid;
  }
  /* line 167, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .content {
    border: #999 1px solid;
  }
  /* line 170, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .box10 {
    border: #EAEAEA 1px solid;
  }
  /* line 173, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .side-callouts {
    height: auto;
  }
  /* line 176, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .articles {
    text-align: left !important;
    padding-left: 1em;
  }
  /* line 180, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .courses {
    text-align: left !important;
    padding-left: 1em;
  }
  /* line 184, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .tools {
    text-align: left !important;
    padding-left: 1em;
  }
  /* line 188, C:/Users/rbernal.TVC/Downloads/My Other Stuff/CSS Grid - content targeting mockups/assets/scss/styles - backup.scss */
  .content-title {
    text-align: left !important;
    padding-left: 1em;
  }
}

/*# sourceMappingURL=../css/styles - backup.map */