/*
Author: Rolando Bernal | Front-End Web Developer
-------------------------------------------------------*/

/* FONTS */
@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:800, 700, 400");
@import url("https://fonts.googleapis.com/css?family=Signika:400, 600");

/* Reset
---------------------------------*/

ul {
    list-style: none;
}

a,
a:hover,
a:active {
    outline: 0px !important;
    text-decoration: none;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/* GLOBAL
----------------------------------*/

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    color: #444;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: #222;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 75px 0 0 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 19px;
}

hr {
    margin: 40px 0 70px 0;
}

p {
    margin: 20px 0 20px 0;
}

.hola {
    color: #fff;
}

.main-page {
    visibility: visible;
    animation-name: zoomIn;
}

.scroll-down {
    font-size: 1.5em;
    font-family: "Lato", "Nunito", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-weight: 300;
    color: rgba(75, 146, 219, 0.8);
}

/* Header Styles
---------------------------------*/

#header {
    height: 100vh;
    width: 100%;
}

.logo a {
    float: left;
    font-size: 28px;
    line-height: 50px;
    color: #ff6c71;
}

.text-center {
    text-align: center;
}

#logo {
    align-self: center;
}

#scrolldown {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;

    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

#img-circle {
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /*border: 8px groove rgba(255, 255, 255, 0.23);*/
    margin: 0 auto 20px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18); */
    opacity: 0.9;
}

/* Top_content
---------------------------------*/

.top_left_cont {
    padding: 15px 0;
}

.top_left_cont h3 {
    font-size: 16px;
    color: #f56eab;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.top_left_cont h2 {
    font-size: 36px;
    color: #fafafa;
    line-height: 58px;
    margin: 0 0 26px 0;
    font-family: "Merriweather", serif;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.top_left_cont h2 strong {
    font-weight: 400;
    color: #fafafa;
    font-size: 28px;
    text-transform: capitalize;
}

.top_left_cont p {
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 30px 0;
    line-height: 33px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    /* font-weight: 300; */
    text-align: center;
    letter-spacing: 1px;
}

/* ---------------------------
Custom Button Styles
-----------------------------*/

.btn-dark {
    border-radius: 0;
    color: #fafafa;
    background-color: #00295b;
    border-radius: 4px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fafafa;
    background-color: #4b92db;
    border-color: #4b92db;
}

.download {
    font-family: "Lato", arial, sans-serif;
}

/* Services
---------------------------------*/

#service {
    padding: 100px 0px;
    background: #4b92db;
}

#service h2 {
    color: #fff;
}

.service_wrapper {
    padding: 40px 0 40px;
}

.service_block {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.service_icon {
    width: 90px;
    height: 85px;
    margin: 0px auto 25px;
}

.service_icon span {
    background: transparent;
    display: block;
    height: 95px;
    width: 95px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 6px 0 0;
}

.service_icon i {
    color: #ffffff;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 20px;
    z-index: 20;
    display: block;
    text-align: center;
}

.service_block h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    margin: 35px 0 15px;
}

#service h6,
#service h5,
#service h4 {
    color: #fff;
    font-weight: 200;
}

.service_block p,
.service_block h4 {
    font-size: 16px;
    color: #fff;
    margin: 0 0 35px 0;
}

/* My Latest Work
---------------------------------*/

.inner_section {
    padding: 0px;
}

.page_section.alabaster {
    background: #fafafa;
}

.work_bottom {
    padding: 20px 0 0 0px;
}

.work_bottom span {
    font-size: 18px;
    color: #333333;
    display: block;
    margin: 0 0 20px 0;
}

a.contact_btn {
    background: #fff;
    text-transform: uppercase;
    display: block;
    width: 176px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    color: #4b92db;
    border-radius: 3px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border: 2px solid #4b92db;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

a.contact_btn:hover {
    background: #4b92db;
    color: #fff;
}

.input-text {
    background: transparent;
}

#techSkills h2 {
    margin-top: 0px;
}

/* Experience Section
----------------------------*/
#experience {
    background: #fff;
    padding: 100px 0;
}

.experience-details .col-md-6 {
    margin-bottom: 40px;
}

.experience-details h4 {
    margin: 4px 0px 2px;
    font-size: 20px;
}

.experience-details h5 {
    margin: 3px 0px;
    font-size: 14px;
}

.experience-details .icon-block {
    float: left;
    margin-right: 20px;
}

.experience-details .icon-block i {
    font-size: 60px;
    color: #5887ff;
    margin: 8px 0 0;
}

.experience-details span {
    font-size: 14px;
    color: #000;
}

.exp-wrapper {
    background: #fff;
    margin: 20px 10px;
    text-align: center;
    padding: 30px 20px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #999;
    -moz-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    color: #999;
    height: 339px !important;
}

.exp-wrapper h3 {
    font-size: 1.2em;
    margin: 10px 0 !important;
}

.exp-hover-link:hover {
    cursor: pointer;
    opacity: 0.5;
}

.exp-card-logo {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-card-logo a img {
    margin: 0;
}

/* .exp-card-logo a img {
    width: 100%;
    height: auto;
} */
.exp-card-content span {
    color: rgb(110, 110, 110);
}

.points {
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 0px;
}

/* Contact
---------------------------------*/
.page_section.contact {
    padding: 90px 0 100px;
    height: 100vh;
}

.contact_section {
    margin: 0 0 60px 0;
    height: 75vh;
}

.contact_section h2 {
    font-size: 32px;
    color: #ffffff;
    margin: 0 0 50px 0;
}

.contact_section ul {
    margin-bottom: 50px;
}

.contact_block {
    text-align: center;
}

.contact_info {
    font-size: 15px;
    margin: 0 0 0 20px;
    padding-left: 0;
}

.contact_info h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px;
    color: #fff;
}

.contact_info p {
    line-height: 28px;
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 30px;
}

#contact-centered {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#contact-centered-child {
    width: 750px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.phone-email {
    font-size: 1.5em;
}

.phone-email li i {
    color: #337ab7;
}

.section-title h2 {
    color: #222222;
    font-family: "Lato", sans-serif;
    font-size: 34px;
    letter-spacing: -1px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
}

.section-title h6,
.section-title h5,
.section-title h4 {
    /*color: #222222;*/
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 200;
}

.section-title span {
    display: block;
    color: #888888;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 60px;
    text-align: center;
}

.heading p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
}

/* Ready to Go Section
------------------------*/
#techSkills {
    padding: 100px 0;
}

/* Progress Bars */
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
}

.progress {
    position: relative;
    height: 25px;
}

.progress-one {
    margin-top: 70px;
}

.progress>.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: rgba(255, 255, 255, 0.54);
    /*background-color: rgba(25, 25, 25, 0.2);*/
}

.progress>.progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 400;
    padding: 3px 10px 2px;
}

/* Skill Bars */
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: lighter;
    font-size: 13px;
    color: #fff;
    /*background:transparent;*/
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.01);
    padding: 0 20px;
    height: 25px;
    line-height: 25px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 25px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skillbar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 25px;
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}

#skillbar-percent-grunt {
    color: #aaa !important;
}

.color1 {
    background: #00295b;
}

.color2 {
    background: #4b92db;
}

/* End of Skill Bars / Ready to Go Section */

/*
Media Queries
--------------------------- */

@media (min-width: 768px) and (max-width: 1200px) {
    .aboutUs-container {
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 59%;
        background-position-y: 150px;
    }
}

@media (max-width: 768px) {
    .aboutUs-container {
        background-image: none;
    }

    p {
        font-size: 14px;
    }

    .top_cont_outer {
        height: 335px;
    }

    .top_left_cont {
        padding: 38px 0;
    }

    .top_left_cont h2 {
        font-size: 25px;
        color: #fff;
        line-height: 39px;
        margin: 0 0 9px 0;
    }

    .inner_section {
        padding: 20px 0 20px;
    }

    #aboutUs img {
        margin-bottom: 20px;
    }

    #aboutUs h3 {
        font-size: 26px;
        line-height: 22px;
    }

    .service_block h3 {
        font-size: 16px;
    }

    .service_block p {
        font-size: 14px;
        margin: 0px;
        margin-bottom: 20px;
    }

    #filterscontainer ul {
        padding-left: 0px;
    }

    .form {
        margin: 0 18px;
    }

    .page_section.team {
        padding: 40px 0;
    }

    #clients {
        padding: 40px 0;
    }

    .client_logos ul li {
        display: inline;
        margin: 0 25px;
        padding: 11px 0;
        display: inline-block;
    }

    .social_links li {
        float: left;
    }

    .contact_section {
        margin: 0;
    }

    h2,
    .contact_section h2 {
        font-size: 30px;
    }

    .page_section.contact {
        padding: 60px 0 50px;
    }
}

@media (max-width: 480px) {
    .team_area {
        width: 99%;
    }

    .read_more2,
    .img-margin-bot {
        display: none;
    }

    .tap-me {
        display: inline-block;
        /* color: #3C3A3A !important; */
    }

    #img-circle {
        width: 170px;
        height: 170px;
    }

    .top_left_cont h1 {
        font-size: 30px;
        margin: 40px 0 0 0;
    }

    .top_left_cont h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }

    .top_left_cont h2 strong {
        font-size: 16px;
    }
}

/* Footer
---------------------------------*/

/* footer {
    height: 100vh;
} */
.footer_wrapper {
    background: #0a1525;
}

.footer_bottom {
    border-top: 1px solid #3c3a3a;
    padding: 25px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color: #4b92db;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.img-margin-bot {
    margin-bottom: 50px;
}

.footer_bottom span a:hover {
    color: #fff;
}

.img-footer {
    max-width: 200px;
    border-radius: 10px;
    opacity: 0.75;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.delay-13s {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}

.delay-14s {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}

.delay-15s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

/*  Social Media Section */

a:hover,
a:focus,
a:active {
    color: #fff;
    text-decoration: none;
}

/*Social Media Icons*/
.social-bottom {
    margin-top: 50px;
    width: 100%;
    height: 70px;
    display: block;
    z-index: 2;
}

.social-bottom ul {
    margin: 20px 20px;
}

.social-bottom ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 5px;
    margin: 20px;
}

.social-bottom i.fa {
    width: 70px;
    height: 70px;
    font-size: 35px;
    color: #f7f7f7;
    background: #4b92db;
    border-radius: 50%;
    line-height: 2;
}

#linkedin:hover,
#linkedin:focus,
#linkedin:active {
    color: #fff;
    background-color: #007bb6;
    border-color: #007bb6;
    cursor: pointer;
}

#twitter:hover,
#twitter:focus,
#twitter:active {
    color: #fff;
    background-color: #55acee;
    border-color: #55acee;
    cursor: pointer;
}

#google-plus:hover,
#google-plus:focus,
#google-plus:active {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
    cursor: pointer;
}

#github:hover,
#github:focus,
#github:active {
    color: #fff;
    background-color: #444;
    border-color: #444;
    cursor: pointer;
}

#email:hover,
#email:focus,
#email:active {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
    cursor: pointer;
}
