/*!
 * Name:  Resume - Portfolio
 * Version: 1.0
 * Updated: 8/18/2015
 * Website: https://github.com/LandoB/landob.github.io
 * Author:  Lando B | Web Solutions
 * Type:  Style - General
 */


/*-----------------------
  Google Font
------------------------*/
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata|Lato);


/*-----------------------
  General Style
------------------------*/
body {
	background: #394864;
    font-family: 'Nunito', 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #fff;
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 400;
	font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}


a {
    color: #FFF;
    /*#ACBAC1;*/
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #4F92AF;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-theme  {
  color: #4F92AF;
  background-color: #394864;
  border-color: #4F92AF;
}
.btn-theme:hover  {
  color: #fff;
  background-color: #4F92AF;
  border-color: #444;
}
form.signup input  {
	height: 42px;
	width: 300px;
	border-radius: 0;
	border: none;
}
form.signup button.btn {
	font-weight: 700;
}
form.signup input.form-control:focus {
	border-color: #fd680e;
}


/*-----------------------
  Wrapper
------------------------*/

#wrapper {
	text-align: center;
	padding: 50px 0;
	background: url(../img/main-bg.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
  height: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#wrapper h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
}

h2.subtitle {
	color: #fff;
	font-size: 24px;
  margin-top: 60px
}

/*-----------------------
  Landing Social
------------------------*/
.social {
  margin-top: 50px;
  width: 100%;
  height: 70px;
  display: block;
  z-index: 2;
}
.social ul {
  margin: 20px 20px;
  
}

.social ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 5px;
    margin: 20px;
}

.social ul li a i.fa {
  font-size: 30px;
}

#linkedin:hover,
#linkedin:focus,
#linkedin:active,
.fa-linkedin:hover,
.fa-linkedin:focus,
.fa-linkedin:active {
    color: #FFF;
    background-color: #007bb6;
    border-radius: 4px;
}

#twitter:hover,
#twitter:focus,
#twitter:active,
.fa-twitter:hover,
.fa-twitter:focus,
.fa-twitter:active {
    color: #FFF;
    background-color: #55acee;
    border-radius: 4px;
}


#google-plus:hover,
#google-plus:focus,
#google-plus:active,
.fa-google-plus:hover,
.fa-google-plus:focus,
.fa-google-plus:active {
    color: #FFF;
    background-color: #dd4b39;
    border-radius: 4px;
}

#github:hover,
#github:focus,
#github:active,
.fa-github:hover,
.fa-github:focus,
.fa-github:active {
    color: #fff;
    background-color: #000;
    border-radius: 4px;
}


/*-----------------------
  Countdown
------------------------*/
#countdown {
	font-size: 48px;
	color: #fff;
	line-height: 1.1em;
	margin: 40px 0 60px;
}



/*-----------------------
  Footer
------------------------*/
p.copyright {
	margin-top: 50px;
	color: #fff;
	text-align: center;
}	