/* BASE ------------------------------------------- */
* {
  box-sizing: border-box; }

body {
  color: #343434;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0; }

h1,
h2 {
  font-family: "Bree Serif", serif; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

p {
  margin-bottom: 1.25em; }
  .intro p {
    font-size: 1.2em; }

a {
  color: #0A1525;
  text-decoration: none; }
  a:hover {
    color: #A5ACAF; }

/* HEADER & FOOTER -------------------------------- */
header {
  height: 460px;
  background: linear-gradient(#4B92DB, #0A1525), url("../img/bg.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative; }
  header h1 {
    color: #fff;
    font-size: 4.8em;
    margin: 80px 0 0 0;
    letter-spacing: 1px; }
  header p {
    color: #A5ACAF;
    font-size: 1.25em;
    margin: 0; }
  header::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    position: absolute;
    transform: skewY(-2deg);
    height: 85px;
    background-color: #fff;
    bottom: -35px; }

footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: #eee;
  margin-top: 3.5em;
  position: relative; }
  footer::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    position: absolute;
    transform: skewY(-2deg);
    height: 75px;
    background-color: #eee;
    top: -40px; }
  footer .footer-text {
    margin: 20px 0; }

/* CONTAINERS ------------------------------------- */
.inner {
  padding: 0.5em 1em; }

.intro {
  margin: auto;
  padding: 3em; }

.main-content {
  margin-bottom: 100px; }

/* COMPONENTS ------------------------------------- */
#navbar,
#navbar-sm {
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  line-height: 64px;
  z-index: 400; }
  #navbar a,
  #navbar-sm a {
    display: inline-block;
    color: #eee;
    font-size: 1.15em;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1em;
    vertical-align: top; }
    #navbar a:hover,
    #navbar-sm a:hover {
      color: #A5ACAF; }
  #navbar #img-featured-navbar,
  #navbar #img-featured-navbar-sm,
  #navbar-sm #img-featured-navbar,
  #navbar-sm #img-featured-navbar-sm {
    width: 64px;
    height: 64px;
    padding: 0.5em;
    visibility: hidden;
    opacity: 0;
    transform: scale(1, 1);
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease; }

#navbar-sm {
  visibility: hidden; }
  #navbar-sm a {
    font-size: 1em; }
    #navbar-sm a:hover {
      color: #0A1525;
      background-color: #eee; }

.img-featured {
  width: 165px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 90px;
  position: relative;
  z-index: 100;
  transform: scale(1, 1);
  transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease; }

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid #eee;
  border-radius: 0.25em; }
  .card h1 {
    margin: 0.35em 0 0;
    line-height: 1.25; }
  .card .icon,
  .card h1 {
    color: #0A1525; }
  .card .icon {
    font-size: 80px; }

.btn-callout, .btn-info {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em; }
  .btn-callout:hover, .btn-info:hover {
    color: #fff;
    opacity: 0.8; }
  .btn-callout:active, .btn-info:active {
    opacity: initial; }

.btn-callout {
  font-size: 1.1em;
  background-color: #4B92DB; }
.btn-info {
  font-size: 0.85em;
  background-color: #0A1525;
  margin-top: auto; }

/* MEDIA QUERIES ---------------------------------- */
@media (max-width: 575px) {
  header {
    height: 460px; }
    header h1 {
      font-size: 3.4em;
      margin-bottom: 36px; }

  .img-featured {
    display: none; } }
@media (min-width: 576px) {
  .main-content {
    display: flex;
    flex-wrap: wrap; }

  .card {
    flex: 1; } }
@media (min-width: 768px) {
  .main-content {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 992px) {
  header {
    background-position: 0 0, 0 45%; }

  .intro {
    width: 45%; } }

/*# sourceMappingURL=style.css.map */
