// Custom VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #0A1525;
$color-secondary: #4B92DB;
$color-accent: #A5ACAF; //#C8102E;
$color-shade: #eee;
$color-var: rgba(253, 149, 90, 0.8);

$color-text: #343434;
$color-bg: #0A1525;
$color-bg-lt: #0f2039;
$color-bg-light: #4B92DB;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1000px;

// Custom MIXINS ------------------------------------ /

@mixin skewed {
  position: relative;
  &::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    //height: 100%;
    position: absolute;
    transform: skewY(-2deg);
    @content;
  }
}

@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}


///* BASE ------------------------------------------- */

//* {
//  box-sizing: border-box;
//}
//
//body {
//    height: 100%;
//    color: $color-text;
//    font-size: 1rem;
//    line-height: 1.5;
//    font-family: $font-stack-primary;
//    text-align: center;
//    margin: 0;
//}
//
//.cover-container {
//  max-width: 42em;
//}
//
//h1,
//h2 {
//  font-family: $font-stack-secondary;
//}
//
//ul {
//  list-style-type: none;
//  padding: 0;
//  margin: 0;
//}
//
//p {
//  margin-bottom: 1.25em;
//  .intro & {
//    font-size: 1.2em;
//  }
//}
//
//a {
//  color: $color-primary;
//  text-decoration: none;
//  &:hover {
//    color: $color-accent;
//  }
//}

/* Custom HEADER & FOOTER -------------------------------- */

.intro {
  height: 550px;
  background: linear-gradient($color-bg-light, $color-bg),
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  h1 {
    color: $white;
    font-size: 4.8em;
    letter-spacing: 1px;
    margin:auto;
    vertical-align:middle;
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
    #space {
        padding: 50px 0 0 0;
    }
  @include skewed {
    height: 85px;
    background-color: $white;
    bottom: -50px;
  }
}


footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: $color-shade;
  margin-top: 3.5em;
  @include skewed {
    height: 75px;
    background-color: $color-shade;
    top: -40px;
  }
    .footer-text {
        margin: 20px 0;
    }
}

/* Custom CONTAINERS ------------------------------------- */

//.inner {
//  padding: 0.5em 1em;
//}

//.intro {
//  margin: 60px 0 0 0;
//  padding: 3em;
//}
//
//.main-content {
//    margin-bottom: 100px;
//  }


/* Custom COMPONENTS ------------------------------------------*/

    #img-featured-navbar-sm {
        width: 64px;
        height: 64px;
        padding: 0.5em;
        margin-top: 0px;
        visibility: hidden;
        opacity: 0;
        transform: scale(1, 1);
        transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
    }
//    .navbar-toggler {
//        color: transparent !important;
//        border-color: transparent !important;
//    }
//    .navbar-toggler-icon {
//        background-image: none !important;
//    }

// Menu Icon
/* Icon 3 */
//#nav-icon3 {
//    width: 40px;
//    height: 40px;
//    position: relative;
//    margin-top: -13px;
//    margin-right: -13px;
//    -webkit-transform: rotate(0deg);
//    -moz-transform: rotate(0deg);
//    -o-transform: rotate(0deg);
//    transform: rotate(0deg);
//    -webkit-transition: .5s ease-in-out;
//    -moz-transition: .5s ease-in-out;
//    -o-transition: .5s ease-in-out;
//    transition: .5s ease-in-out;
//    cursor: pointer;
//    float: right;
//    &:hover {
//        color: $color-accent;
//    }
//}
//
//#nav-icon3 span {
//    display: block;
//    position: absolute;
//    height: 4px;
//    width: 100%;
//    background: #fff;
//    border-radius: 9px;
//    opacity: 1;
//    left: 0;
//    -webkit-transform: rotate(0deg);
//    -moz-transform: rotate(0deg);
//    -o-transform: rotate(0deg);
//    transform: rotate(0deg);
//    -webkit-transition: .25s ease-in-out;
//    -moz-transition: .25s ease-in-out;
//    -o-transition: .25s ease-in-out;
//    transition: .25s ease-in-out;
//}
//
//#nav-icon3 span:nth-child(1) {
//  top: 0px;
//}
//
//#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
//  top: 13px;
//}
//
//#nav-icon3 span:nth-child(4) {
//  top: 26px;
//}
//
//#nav-icon3.open span:nth-child(1) {
//  top: 13px;
//  width: 0%;
//  left: 50%;
//}
//
//#nav-icon3.open span:nth-child(2) {
//  -webkit-transform: rotate(45deg);
//  -moz-transform: rotate(45deg);
//  -o-transform: rotate(45deg);
//  transform: rotate(45deg);
//}
//
//#nav-icon3.open span:nth-child(3) {
//  -webkit-transform: rotate(-45deg);
//  -moz-transform: rotate(-45deg);
//  -o-transform: rotate(-45deg);
//  transform: rotate(-45deg);
//}
//
//#nav-icon3.open span:nth-child(4) {
//  top: 13px;
//  width: 0%;
//  left: 50%;
//}


// Typewriter Effect
#typewriter-div {
    width: 100%;
    height: 325px;
}

.var-highlight{
    color: $color-var;
    font-weight: 500;
}
.string-highlight{
    color: #559CD6;//;
}

#typewriter{
        width: 100%;
        font-size: 1.5em;
        color: $color-shade;
        font-family: "Courier New";
        &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }
        margin:auto;
        text-align: left;
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

// Header image
.img-featured {
    width: 165px;
    //border: 2px solid $white;
    border-radius: 50%;
    margin-top: 25px;
    position: relative;
    z-index: 100;
    transform: scale(1, 1);
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    border: 1px solid $color-shade;
    border-radius: 0.25em;
    h1 {
    margin: 0.35em 0 0;
    line-height: 1.25;
    }
    .icon,
    h1 {
    color: $color-primary;
    }
    .icon {
        font-size: 80px;
    }
}

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%btn {
  color: $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  &-callout {
    @extend %btn;
    font-size: 1.1em;
    background-color: $color-secondary;
  }
  &-info {
    @extend %btn;
    font-size: 0.85em;
    background-color: $color-primary;
    margin-top: auto;
  }
}