
// These is the CUSTOM styles: -------------- //

// Custom VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #0A1525;
$color-secondary: #4B92DB;
$color-accent: #A5ACAF; //#C8102E;
$color-shade: #eee;
$color-var: rgba(253, 149, 90, 0.8);

$color-text: #343434;
$color-bg: #0A1525;
$color-bg-lt: #0f2039;
$color-bg-light: #4B92DB;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1000px;

// Custom MIXINS ------------------------------------ /

@mixin skewed {
  position: relative;
  &::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    //height: 100%;
    position: absolute;
    transform: skewY(-2deg);
    @content;
  }
}

@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Base structure
 */

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-color: #0A1525;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #4B92DB;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover, &:focus {
    text-decoration: none;
    color: #0A1525;
  }
}

.light {
  font-weight: 400;
}

/* Custom HEADER & FOOTER -------------------------------- */

.intro {
  height: 550px;
  background: linear-gradient($color-bg-light, $color-bg),
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  h1 {
    color: $white;
    font-size: 4.8em;
    letter-spacing: 1px;
    margin:auto;
    vertical-align:middle;
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
    #space {
        padding: 50px 0 0 0;
    }
  @include skewed {
    height: 85px;
    background-color: $white;
    bottom: -50px;
  }
}

footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: $color-shade;
  margin-top: 3.5em;
  @include skewed {
    height: 75px;
    background-color: $color-shade;
    top: -40px;
  }
    .footer-text {
        margin: 20px 0;
    }
}

/* Custom COMPONENTS ------------------------------------------*/

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid #4B92DB;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  background-color: #0A1525;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: 0;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #fff;
      &:focus, &:active {
        outline: 0;
      }
    }
  }
  a {
    color: #fff;
  }
  .nav li {
    a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      &:hover {
        outline: 0;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
      }
      &:focus, &:active {
        outline: 0;
        background-color: transparent;
      }
    }
    &.active {
      outline: 0;
      a {
        background-color: rgba(255, 255, 255, 0.3);
        &:hover {
          color: #fff;
        }
      }
    }
  }
}



    #img-featured-navbar-sm {
        width: 64px;
        height: 64px;
        padding: 0.5em;
        margin-top: 0px;
        visibility: hidden;
        opacity: 0;
        transform: scale(1, 1);
        transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
    }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background: #0A1525;
    }
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: linear-gradient(#4B92DB, #0A1525), url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-blend-mode: multiply;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
}

// Typewriter Effect
#typewriter-div {
    width: 100%;
    height: 325px;
}

.var-highlight{
    color: $color-var;
    font-weight: 500;
}
.string-highlight{
    color: #559CD6;//;
}

#typewriter{
        width: 100%;
        font-size: 1.5em;
        color: $color-shade;
        font-family: "Courier New";
        &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }
        margin:auto;
        text-align: left;
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

// Header image
.img-featured {
    width: 165px;
    //border: 2px solid $white;
    border-radius: 50%;
    margin-top: 25px;
    position: relative;
    z-index: 100;
    transform: scale(1, 1);
    transition: visibility 0.15s, opacity 0.5s ease-in, transform 0.5s ease;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 26px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover, &:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}


.content-section {
  padding-top: 100px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #4B92DB;
  color: #4B92DB;
  background-color: transparent;
  &:hover, &:focus {
    border: 1px solid #4B92DB;
    outline: 0;
    color: #000;
    background-color: #4B92DB;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

footer {
  padding: 50px 0;
  p {
    margin: 0;
  }
}

::-moz-selection, ::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

img {
  &::selection, &::-moz-selection {
    background: 0 0;
  }
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}