/* rb.CSS 1.00 February 2020 by The Lando Beist 1389 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.rb-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.rb-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.rb-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.rb-table,.rb-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.rb-table-all{border:1px solid #ccc}
.rb-bordered tr,.rb-table-all tr{border-bottom:1px solid #ddd}.rb-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.rb-table-all tr:nth-child(odd){background-color:#fff}.rb-table-all tr:nth-child(even){background-color:#f1f1f1}
.rb-hoverable tbody tr:hover,.rb-ul.rb-hoverable li:hover{background-color:#ccc}.rb-centered tr th,.rb-centered tr td{text-align:center}
.rb-table td,.rb-table th,.rb-table-all td,.rb-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.rb-table th:first-child,.rb-table td:first-child,.rb-table-all th:first-child,.rb-table-all td:first-child{padding-left:16px}
.rb-btn,.rb-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.rb-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.rb-btn,.rb-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.rb-disabled,.rb-btn:disabled,.rb-button:disabled{cursor:not-allowed;opacity:0.3}.rb-disabled *,:disabled *{pointer-events:none}
.rb-btn.rb-disabled:hover,.rb-btn:disabled:hover{box-shadow:none}
.rb-badge,.rb-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.rb-badge{border-radius:50%}
.rb-ul{list-style-type:none;padding:0;margin:0}.rb-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.rb-ul li:last-child{border-bottom:none}
.rb-tooltip,.rb-display-container{position:relative}.rb-tooltip .rb-text{display:none}.rb-tooltip:hover .rb-text{display:inline-block}
.rb-ripple:active{opacity:0.5}.rb-ripple{transition:opacity 0s}
.rb-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.rb-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.rb-dropdown-click,.rb-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.rb-dropdown-hover:hover .rb-dropdown-content{display:block}
.rb-dropdown-hover:first-child,.rb-dropdown-click:hover{background-color:#ccc;color:#000}
.rb-dropdown-hover:hover > .rb-button:first-child,.rb-dropdown-click:hover > .rb-button:first-child{background-color:#ccc;color:#000}
.rb-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.rb-check,.rb-radio{width:24px;height:24px;position:relative;top:6px}
.rb-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.rb-bar-block .rb-dropdown-hover,.rb-bar-block .rb-dropdown-click{width:100%}
.rb-bar-block .rb-dropdown-hover .rb-dropdown-content,.rb-bar-block .rb-dropdown-click .rb-dropdown-content{min-width:100%}
.rb-bar-block .rb-dropdown-hover .rb-button,.rb-bar-block .rb-dropdown-click .rb-button{width:100%;text-align:left;padding:8px 16px}
.rb-main,#main{transition:margin-left .4s}
.rb-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.rb-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.rb-bar{width:100%;overflow:hidden}.rb-center .rb-bar{display:inline-block;width:auto}
.rb-bar .rb-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.rb-bar .rb-dropdown-hover,.rb-bar .rb-dropdown-click{position:static;float:left}
.rb-bar .rb-button{white-space:normal}
.rb-bar-block .rb-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.rb-bar-block.rb-center .rb-bar-item{text-align:center}.rb-block{display:block;width:100%}
.rb-responsive{display:block;overflow-x:auto}
.rb-container:after,.rb-container:before,.rb-panel:after,.rb-panel:before,.rb-row:after,.rb-row:before,.rb-row-padding:after,.rb-row-padding:before,
.rb-cell-row:before,.rb-cell-row:after,.rb-clear:after,.rb-clear:before,.rb-bar:before,.rb-bar:after{content:"";display:table;clear:both}
.rb-col,.rb-half,.rb-third,.rb-twothird,.rb-threequarter,.rb-quarter{float:left;width:100%}
.rb-col.s1{width:8.33333%}.rb-col.s2{width:16.66666%}.rb-col.s3{width:24.99999%}.rb-col.s4{width:33.33333%}
.rb-col.s5{width:41.66666%}.rb-col.s6{width:49.99999%}.rb-col.s7{width:58.33333%}.rb-col.s8{width:66.66666%}
.rb-col.s9{width:74.99999%}.rb-col.s10{width:83.33333%}.rb-col.s11{width:91.66666%}.rb-col.s12{width:99.99999%}
@media (min-width:601px){.rb-col.m1{width:8.33333%}.rb-col.m2{width:16.66666%}.rb-col.m3,.rb-quarter{width:24.99999%}.rb-col.m4,.rb-third{width:33.33333%}
.rb-col.m5{width:41.66666%}.rb-col.m6,.rb-half{width:49.99999%}.rb-col.m7{width:58.33333%}.rb-col.m8,.rb-twothird{width:66.66666%}
.rb-col.m9,.rb-threequarter{width:74.99999%}.rb-col.m10{width:83.33333%}.rb-col.m11{width:91.66666%}.rb-col.m12{width:99.99999%}}
@media (min-width:993px){.rb-col.l1{width:8.33333%}.rb-col.l2{width:16.66666%}.rb-col.l3{width:24.99999%}.rb-col.l4{width:33.33333%}
.rb-col.l5{width:41.66666%}.rb-col.l6{width:49.99999%}.rb-col.l7{width:58.33333%}.rb-col.l8{width:66.66666%}
.rb-col.l9{width:74.99999%}.rb-col.l10{width:83.33333%}.rb-col.l11{width:91.66666%}.rb-col.l12{width:99.99999%}}
.rb-content{max-width:980px;margin:auto}.rb-rest{overflow:hidden}
.rb-cell-row{display:table;width:100%}.rb-cell{display:table-cell}
.rb-cell-top{vertical-align:top}.rb-cell-middle{vertical-align:middle}.rb-cell-bottom{vertical-align:bottom}
.rb-hide{display:none!important}.rb-show-block,.rb-show{display:block!important}.rb-show-inline-block{display:inline-block!important}
@media (max-width:600px){.rb-modal-content{margin:0 10px;width:auto!important}.rb-modal{padding-top:30px}
.rb-dropdown-hover.rb-mobile .rb-dropdown-content,.rb-dropdown-click.rb-mobile .rb-dropdown-content{position:relative}
.rb-hide-small{display:none!important}.rb-mobile{display:block;width:100%!important}.rb-bar-item.rb-mobile,.rb-dropdown-hover.rb-mobile,.rb-dropdown-click.rb-mobile{text-align:center}
.rb-dropdown-hover.rb-mobile,.rb-dropdown-hover.rb-mobile .rb-btn,.rb-dropdown-hover.rb-mobile .rb-button,.rb-dropdown-click.rb-mobile,.rb-dropdown-click.rb-mobile .rb-btn,.rb-dropdown-click.rb-mobile .rb-button{width:100%}}
@media (max-width:768px){.rb-modal-content{width:500px}.rb-modal{padding-top:50px}}
@media (min-width:993px){.rb-modal-content{width:900px}.rb-hide-large{display:none!important}.rb-sidebar.rb-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.rb-hide-medium{display:none!important}}
@media (max-width:992px){.rb-sidebar.rb-collapse{display:none}.rb-main{margin-left:0!important;margin-right:0!important}}
.rb-top,.rb-bottom{position:fixed;width:100%;z-index:1}.rb-top{top:0}.rb-bottom{bottom:0}
.rb-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.rb-display-topleft{position:absolute;left:0;top:0}.rb-display-topright{position:absolute;right:0;top:0}
.rb-display-bottomleft{position:absolute;left:0;bottom:0}.rb-display-bottomright{position:absolute;right:0;bottom:0}
.rb-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.rb-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.rb-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.rb-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.rb-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.rb-display-container:hover .rb-display-hover{display:block}.rb-display-container:hover span.rb-display-hover{display:inline-block}.rb-display-hover{display:none}
.rb-display-position{position:absolute}
.rb-circle{border-radius:50%}
.rb-round-small{border-radius:2px}.rb-round,.rb-round-medium{border-radius:4px}.rb-round-large{border-radius:8px}.rb-round-xlarge{border-radius:16px}.rb-round-xxlarge{border-radius:32px}
.rb-row-padding,.rb-row-padding>.rb-half,.rb-row-padding>.rb-third,.rb-row-padding>.rb-twothird,.rb-row-padding>.rb-threequarter,.rb-row-padding>.rb-quarter,.rb-row-padding>.rb-col{padding:0 8px}
.rb-container,.rb-panel{padding:0.01em 16px}.rb-panel{margin-top:16px;margin-bottom:16px}
.rb-code,.rb-codespan{font-family:Consolas,"courier new";font-size:16px}
.rb-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.rb-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.rb-card,.rb-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.rb-card-4,.rb-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.rb-spin{animation:rb-spin 2s infinite linear}@keyframes rb-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.rb-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.rb-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.rb-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.rb-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.rb-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.rb-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.rb-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.rb-animate-input{transition:width 0.4s ease-in-out}.rb-animate-input:focus{width:100%!important}
.rb-opacity,.rb-hover-opacity:hover{opacity:0.60}.rb-opacity-off,.rb-hover-opacity-off:hover{opacity:1}
.rb-opacity-max{opacity:0.25}.rb-opacity-min{opacity:0.75}
.rb-greyscale-max,.rb-grayscale-max,.rb-hover-greyscale:hover,.rb-hover-grayscale:hover{filter:grayscale(100%)}
.rb-greyscale,.rb-grayscale{filter:grayscale(75%)}.rb-greyscale-min,.rb-grayscale-min{filter:grayscale(50%)}
.rb-sepia{filter:sepia(75%)}.rb-sepia-max,.rb-hover-sepia:hover{filter:sepia(100%)}.rb-sepia-min{filter:sepia(50%)}
.rb-tiny{font-size:10px!important}.rb-small{font-size:12px!important}.rb-medium{font-size:15px!important}.rb-large{font-size:18px!important}
.rb-xlarge{font-size:24px!important}.rb-xxlarge{font-size:36px!important}.rb-xxxlarge{font-size:48px!important}.rb-jumbo{font-size:64px!important}
.rb-left-align{text-align:left!important}.rb-right-align{text-align:right!important}.rb-justify{text-align:justify!important}.rb-center{text-align:center!important}
.rb-border-0{border:0!important}.rb-border{border:1px solid #ccc!important}
.rb-border-top{border-top:1px solid #ccc!important}.rb-border-bottom{border-bottom:1px solid #ccc!important}
.rb-border-left{border-left:1px solid #ccc!important}.rb-border-right{border-right:1px solid #ccc!important}
.rb-topbar{border-top:6px solid #ccc!important}.rb-bottombar{border-bottom:6px solid #ccc!important}
.rb-leftbar{border-left:6px solid #ccc!important}.rb-rightbar{border-right:6px solid #ccc!important}
.rb-section,.rb-code{margin-top:16px!important;margin-bottom:16px!important}
.rb-margin{margin:16px!important}.rb-margin-top{margin-top:16px!important}.rb-margin-bottom{margin-bottom:16px!important}
.rb-margin-left{margin-left:16px!important}.rb-margin-right{margin-right:16px!important}
.rb-padding-small{padding:4px 8px!important}.rb-padding{padding:8px 16px!important}.rb-padding-large{padding:12px 24px!important}
.rb-padding-16{padding-top:16px!important;padding-bottom:16px!important}.rb-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.rb-padding-32{padding-top:32px!important;padding-bottom:32px!important}.rb-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.rb-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.rb-left{float:left!important}.rb-right{float:right!important}
.rb-button:hover{color:#000!important;background-color:#ccc!important}
.rb-transparent,.rb-hover-none:hover{background-color:transparent!important}
.rb-hover-none:hover{box-shadow:none!important}
/* Colors */
.rb-amber,.rb-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.rb-aqua,.rb-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.rb-blue,.rb-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.rb-light-blue,.rb-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.rb-brown,.rb-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.rb-cyan,.rb-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.rb-blue-grey,.rb-hover-blue-grey:hover,.rb-blue-gray,.rb-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.rb-green,.rb-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.rb-light-green,.rb-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.rb-indigo,.rb-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.rb-khaki,.rb-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.rb-lime,.rb-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.rb-orange,.rb-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.rb-deep-orange,.rb-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.rb-pink,.rb-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.rb-purple,.rb-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.rb-deep-purple,.rb-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.rb-red,.rb-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.rb-sand,.rb-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.rb-teal,.rb-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.rb-yellow,.rb-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.rb-white,.rb-hover-white:hover{color:#000!important;background-color:#fff!important}
.rb-black,.rb-hover-black:hover{color:#fff!important;background-color:#000!important}
.rb-grey,.rb-hover-grey:hover,.rb-gray,.rb-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.rb-light-grey,.rb-hover-light-grey:hover,.rb-light-gray,.rb-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.rb-dark-grey,.rb-hover-dark-grey:hover,.rb-dark-gray,.rb-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.rb-pale-red,.rb-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.rb-pale-green,.rb-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.rb-pale-yellow,.rb-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.rb-pale-blue,.rb-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.rb-text-amber,.rb-hover-text-amber:hover{color:#ffc107!important}
.rb-text-aqua,.rb-hover-text-aqua:hover{color:#00ffff!important}
.rb-text-blue,.rb-hover-text-blue:hover{color:#2196F3!important}
.rb-text-light-blue,.rb-hover-text-light-blue:hover{color:#87CEEB!important}
.rb-text-brown,.rb-hover-text-brown:hover{color:#795548!important}
.rb-text-cyan,.rb-hover-text-cyan:hover{color:#00bcd4!important}
.rb-text-blue-grey,.rb-hover-text-blue-grey:hover,.rb-text-blue-gray,.rb-hover-text-blue-gray:hover{color:#607d8b!important}
.rb-text-green,.rb-hover-text-green:hover{color:#4CAF50!important}
.rb-text-light-green,.rb-hover-text-light-green:hover{color:#8bc34a!important}
.rb-text-indigo,.rb-hover-text-indigo:hover{color:#3f51b5!important}
.rb-text-khaki,.rb-hover-text-khaki:hover{color:#b4aa50!important}
.rb-text-lime,.rb-hover-text-lime:hover{color:#cddc39!important}
.rb-text-orange,.rb-hover-text-orange:hover{color:#ff9800!important}
.rb-text-deep-orange,.rb-hover-text-deep-orange:hover{color:#ff5722!important}
.rb-text-pink,.rb-hover-text-pink:hover{color:#e91e63!important}
.rb-text-purple,.rb-hover-text-purple:hover{color:#9c27b0!important}
.rb-text-deep-purple,.rb-hover-text-deep-purple:hover{color:#673ab7!important}
.rb-text-red,.rb-hover-text-red:hover{color:#f44336!important}
.rb-text-sand,.rb-hover-text-sand:hover{color:#fdf5e6!important}
.rb-text-teal,.rb-hover-text-teal:hover{color:#009688!important}
.rb-text-yellow,.rb-hover-text-yellow:hover{color:#d2be0e!important}
.rb-text-white,.rb-hover-text-white:hover{color:#fff!important}
.rb-text-black,.rb-hover-text-black:hover{color:#000!important}
.rb-text-grey,.rb-hover-text-grey:hover,.rb-text-gray,.rb-hover-text-gray:hover{color:#757575!important}
.rb-text-light-grey,.rb-hover-text-light-grey:hover,.rb-text-light-gray,.rb-hover-text-light-gray:hover{color:#f1f1f1!important}
.rb-text-dark-grey,.rb-hover-text-dark-grey:hover,.rb-text-dark-gray,.rb-hover-text-dark-gray:hover{color:#3a3a3a!important}
.rb-border-amber,.rb-hover-border-amber:hover{border-color:#ffc107!important}
.rb-border-aqua,.rb-hover-border-aqua:hover{border-color:#00ffff!important}
.rb-border-blue,.rb-hover-border-blue:hover{border-color:#2196F3!important}
.rb-border-light-blue,.rb-hover-border-light-blue:hover{border-color:#87CEEB!important}
.rb-border-brown,.rb-hover-border-brown:hover{border-color:#795548!important}
.rb-border-cyan,.rb-hover-border-cyan:hover{border-color:#00bcd4!important}
.rb-border-blue-grey,.rb-hover-border-blue-grey:hover,.rb-border-blue-gray,.rb-hover-border-blue-gray:hover{border-color:#607d8b!important}
.rb-border-green,.rb-hover-border-green:hover{border-color:#4CAF50!important}
.rb-border-light-green,.rb-hover-border-light-green:hover{border-color:#8bc34a!important}
.rb-border-indigo,.rb-hover-border-indigo:hover{border-color:#3f51b5!important}
.rb-border-khaki,.rb-hover-border-khaki:hover{border-color:#f0e68c!important}
.rb-border-lime,.rb-hover-border-lime:hover{border-color:#cddc39!important}
.rb-border-orange,.rb-hover-border-orange:hover{border-color:#ff9800!important}
.rb-border-deep-orange,.rb-hover-border-deep-orange:hover{border-color:#ff5722!important}
.rb-border-pink,.rb-hover-border-pink:hover{border-color:#e91e63!important}
.rb-border-purple,.rb-hover-border-purple:hover{border-color:#9c27b0!important}
.rb-border-deep-purple,.rb-hover-border-deep-purple:hover{border-color:#673ab7!important}
.rb-border-red,.rb-hover-border-red:hover{border-color:#f44336!important}
.rb-border-sand,.rb-hover-border-sand:hover{border-color:#fdf5e6!important}
.rb-border-teal,.rb-hover-border-teal:hover{border-color:#009688!important}
.rb-border-yellow,.rb-hover-border-yellow:hover{border-color:#ffeb3b!important}
.rb-border-white,.rb-hover-border-white:hover{border-color:#fff!important}
.rb-border-black,.rb-hover-border-black:hover{border-color:#000!important}
.rb-border-grey,.rb-hover-border-grey:hover,.rb-border-gray,.rb-hover-border-gray:hover{border-color:#9e9e9e!important}
.rb-border-light-grey,.rb-hover-border-light-grey:hover,.rb-border-light-gray,.rb-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.rb-border-dark-grey,.rb-hover-border-dark-grey:hover,.rb-border-dark-gray,.rb-hover-border-dark-gray:hover{border-color:#616161!important}
.rb-border-pale-red,.rb-hover-border-pale-red:hover{border-color:#ffe7e7!important}.rb-border-pale-green,.rb-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.rb-border-pale-yellow,.rb-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.rb-border-pale-blue,.rb-hover-border-pale-blue:hover{border-color:#e7ffff!important}